// Cor do logotipo
$logo-color: #006064;

:root {
  --cor-do-texto: #323232; // não usar preto
  --cor-do-logo: $logo-color;
}

// Reduz a fonte para conter nome inteiro na nav
// iPhone 5
@media (min-width:320px) {
  nav .brand-logo { font-size: 1.4rem; }
}

// iPhone 6, 7, 8
@media (min-width:375px) {
  nav .brand-logo { font-size: 1.3rem; }
}

@media (min-width:480px) {
  nav .brand-logo { font-size: 2.1rem; }
}

img.brand-logo {
  height: 56px;
}

// Deixar o rodapé mais distante caso a página tenha pouco conteúdo
main {
  min-height: 70vh;
  padding-bottom: 32px;
  background-color: #fff;
  padding: 24px;
}

.grad-nav {
  background: linear-gradient(90deg, $logo-color 0%, rgba(0,80,80,1) 35%, $logo-color 100%)
}

body {
  color: var(--cor-do-texto);
  background-color: #efefef;
}

// Headers da cor do logo
h1, h2, h3, h4, h5, h6, .card-title {
  color: $logo-color;
}

.page-footer h1,
.page-footer h2,
.page-footer h3,
.page-footer h4
{
  color: white !important;
}

p {
  font-size: 1.2rem;
}

.servico-titulo {
  max-width: 90%;
  background-color: #f00;
}

.membro-descricao {
  font-size: 1.2rem;
}

.membro-titulo {
  color: orange;
  font-size: 1.5rem;
}

.membro-imagem {
  margin-bottom: 2rem;
}

.redes-sociais {
}

.rede-social {
  display: inline-block;
}

// https://stackoverflow.com/questions/22252472/how-to-change-the-color-of-an-svg-element
.rede-social-icon {
  height: 32px;
  width: 32px;
  margin-right: 12px;
  filter: invert(100%);
}

.rede-social-nome {
  color: white;
}

.contato li i {
  margin-right: 12px;
}

.contato .bairro {
  margin-left: 28px;
}

.mobile-profile {
  padding: 0 60px;
}

.sidenav .fa-menu-icon {
  margin: 0 !important;
}
