// Cor do logotipo
$logo-color: #006064;

:root {
  --cor-do-texto: #323232; // não usar preto
  --cor-do-logo: $logo-color;
}

// Reduz a fonte para conter nome inteiro na nav
// iPhone 5
@media (min-width:320px) {
  nav .brand-logo { font-size: 1.4rem; }
}

// iPhone 6, 7, 8
@media (min-width:375px) {
  nav .brand-logo { font-size: 1.6rem; }
}

@media (min-width:480px) {
  nav .brand-logo { font-size: 2.1rem; }
}

// Deixar o rodapé mais distante caso a página tenha pouco conteúdo
main {
  min-height: 70vh;
}

.grad-nav {
  background: linear-gradient(90deg, $logo-color 0%, rgba(0,204,204,1) 35%, $logo-color 100%)
}

body {
  color: var(--cor-do-texto);
}

// Headers da cor do logo
h1, h2, h3, h4, h5, h6, .card-title {
  color: $logo-color;
}

p {
  font-size: 1.2rem;
}

.servico-titulo {
  max-width: 90%;
  background-color: #f00;
}
