// Cor do logotipo
$logo-color: #006064;

:root {
  --cor-do-texto: #323232; // não usar preto
  --cor-do-logo: $logo-color;
}

// Reduz a fonte para conter nome inteiro na nav
// iPhone 5
@media (min-width:320px) {
  nav .brand-logo { font-size: 1.4rem; }
}

// iPhone 6, 7, 8
@media (min-width:375px) {
  nav .brand-logo { font-size: 1.3rem; }
}

@media (min-width:480px) {
  nav .brand-logo { font-size: 2.1rem; }
}

@media (max-width: 500px) {
  .container {
    width: 98%
  }
}


img.brand-logo {
  height: 56px;
}

// Deixar o rodapé mais distante caso a página tenha pouco conteúdo
main {
  min-height: 70vh;
  padding-bottom: 32px;
  background-color: #fff;
  padding: 24px;
}

.grad-nav {
  background: linear-gradient(90deg, $logo-color 0%, rgba(0,80,80,1) 35%, $logo-color 100%)
}

body {
  color: var(--cor-do-texto);
  background-color: #efefef;
}

// Headers da cor do logo
h1, h2, h3, h4, h5, h6, .card-title {
  color: $logo-color;
}

.page-footer h1,
.page-footer h2,
.page-footer h3,
.page-footer h4
{
  color: white !important;
}

p {
  font-size: 1.2rem;
}

.servico-titulo {
  max-width: 90%;
  background-color: #f00;
}

.membro-descricao {
  font-size: 1.2rem;
}

.membro-titulo {
  font-size: 1.5rem;
}

.membro-imagem {
  margin-bottom: 2rem;
}

li.atividade {
  padding: 6px !important;
}

.atividade li,
.atividade p {
  font-size: 1.0rem;
}

.atividade-titulo {
  font-weight: 300;
}

.atividade-subtitulo {
  color: $logo-color;
  margin-top: -6px;
  margin-bottom: 12px;
}

.atividade-descricao {
  font-size: 1.0rem;
  margin-bottom: 24px !important;
}

.collection-item .membro-nome {
  font-size: 1.2rem;
  color: $logo-color;
}

.collection-item .membro-titulo {
  font-size: 1.0rem;
}

.collection-item .membro-crp {
  font-size: 0.9rem;
}

.collection .collection-item.avatar {
  min-height: 50px !important;
}

.collection-item p i,
.modulo-assessor i {
  margin-right: 12px;
}

.redes-sociais {
}

.rede-social {
  display: inline-block;
}

// https://stackoverflow.com/questions/22252472/how-to-change-the-color-of-an-svg-element
.rede-social-icon {
  height: 32px;
  width: 32px;
  margin-right: 12px;
  filter: invert(100%);
}

.rede-social-nome {
  color: white;
}

.atividade li i,
.contato li i,
.links-uteis li i,
.membro-areas-de-atuacao li i {
  margin-right: 12px;
}

.atividade-objetivo {
  padding-top: 12px;
  padding-bottom: 12px;
}

.contato .bairro {
  margin-left: 28px;
}

.mobile-profile {
  padding: 0 60px;
}

.sidenav .fa-menu-icon {
  margin: 0 !important;
}

.row.member {
  padding: 10px;
}

.lang-icon {
  height: 12px;
}
