-
  var atividades = [
    {
      "ano": "2021",
      "tipo": "grupo-de-discussao",
      "visivel": true,
      "online": false,
      "titulo": "Grupo Psicanalítico de Discussão",
      "objetivo": "É um espaço de compartilhamento horizontal de ideia, saberes para a construção coletiva de conhecimento, inspirado nos grupos operativos de Pichon-Riviére e realizado após um disparador comum, que pode ser um texto, um filme, música ou apresentação de um evento. De maneira democrática, tais grupos estimulam a circulação do saber de cada participante, despertam associações e constroem novo conhecimento a partir do estímulo compartilhado.",
      "dataiso": "2021-10-19",
      "inscritos": 8,
      "assessor_slugs": [],
      "modulos": [
        {
          "data": "19/10/2021",
          "assessor_slugs": [],
          "convidados": [
            "Equipe de psicólogos do ITA"
          ]
        },
        {
          "data": "26/10/2021",
          "assessor_slugs": [],
          "convidados": [
            "Equipe de psicólogos do ITA"
          ]
        },
        {
          "data": "09/11/2021",
          "assessor_slugs": [],
          "convidados": [
            "Equipe de psicólogos do ITA"
          ]
        }
      ]
    },
    {
      "ano": "2021",
      "tipo": "curso",
      "visivel": true,
      "online": true,
      "plataforma": "Google Meet",
      "titulo": "Feminino & Masculino",
      "subtitulo": "Uma construção sociocultural?",
      "objetivo": "Aqui vai um parágrafo com a descrição do curso",
      "dataiso": "2021-06-12",
      "inscritos": 26,
      "modulos": [
        {
          "data": "12/06/2021",
          "horario": "19:00",
          "duracao": "2h",
          "titulo": "Feminino & Masculino: uma construção sociocultural?",
          "assessor_slugs": [ "lillian-maria-penteado-de-arruda-zamith", "maria-ondina-da-silva-peruzzo" ],
          "convidados": [ "Prof. Dra. Alessandra Benedito" ]
        },
        {
          "data": "19/06/2021",
          "horario": "19:00",
          "duracao": "2h",
          "titulo": "O Feminino e o Masculino para além das representações sociais",
          "assessor_slugs": [ "maria-de-fatima-rolim-rosa", "maruzania-soares-dias" ],
        },
        {
          "data": "26/06/2021",
          "horario": "19:00",
          "duracao": "2h",
          "titulo": "Feminino e o Masculino que habita em nós",
          "assessor_slugs": [ "rosa-eliza-da-silva", "lourdes-degrandis" ],
        },
        {
          "data": "03/07/2021",
          "horario": "19:00",
          "duracao": "2h",
          "titulo": "Vida consagrada na vivência da Força, ousadia e sensibilidade de ser mulher",
          "assessor_slugs": [ "maria-silva-mourao", "flavia-moreira-ribeiro" ],
        },
      ]
    },
    {
      "ano": "2021",
      "tipo": "batepapo",
      "visivel": true,
      "banner": "",
      "plataforma": "Google Meet",
      "online": false,
      "titulo": "O espectro Temático da Psicologia Científica da Religião à Luz das Neurociências",
      "subtitulo": "",
      "objetivo": "Seriam a neurociências um novo paradigma para a concepção das ciências psi, em especial da psicologia da religião, no século 21? Texto de referência: Caítulo IV do livro “O espectro Temático da Psicologia Científica da Religião à Luz das Neurociências”, do Prof. Dr. Edenio Valle. ",
      "assessor_slugs": [ "joao-edenio-reis-valle" ],
      "convidados": [
        "Prof. Dra. Fátima Regina Machado",
        "Prof. Dr. Wellington Heleno da Silva"
      ],
      "data": "09/09/2021",
      "dataiso": "2021-09-09"
    },
    {
      "ano": "2021",
      "tipo": "batepapo",
      "visivel": true,
      "banner": "",
      "plataforma": "Google Meet",
      "online": true,
      "titulo": "Desafios e Aprendizados no Trabalho Missionário e Pastoral",
      "subtitulo": "",
      "objetivo": "Debater os critérios para que o encontro com o outro na atividade evangélica seja eficiente. O texto base para as reflexões foi a encíclica Fratelli Tutti, do papa Francisco.",
      "assessor_slugs": [ "wojciech-mittelstaedt-adalberto" ],
      "convidados": [
        "Ir. Elizangêla Silva Gomes",
        "Frei Mateus Bento",
        "Casal Leda e Ademar Degasperi"
      ],
      "data": "30/04/2021",
      "dataiso": "2021-04-30",
      "inscritos": 72
    },
    {
      "ano": "2021",
      "tipo": "batepapo",
      "visivel": true,
      "banner": "",
      "online": false,
      "titulo": "Psicologia e Religião: as duas faces da alma",
      "subtitulo": "",
      "objetivo": "Debater as diferenças e as afinidades entre as manifestações espirituais e psicológicas. O texto base para as reflexões foi a cartilha virtual Psicologia e Religião, elaborada pelo Laboratório de Psicologia da Religião do Laboratório de Psicologia e Religião da USP.",
      "assessor_slugs": [],
      "convidados": [
        "Dra. Fátima Regina Machado",
        "Wellington Zangari"
      ],
      "data": "27/05/2021",
      "dataiso": "2021-05-27",
      "inscritos": 216
    },
    {
      "ano": "2019",
      "tipo": "curso",
      "visivel": true,
      "banner": "curso-sofrimento-psiquico-na-atualidade.jpg",
      "online": true,
      "plataforma": "Google Meet",
      "titulo": "Sofrimento Psíquico na Atualidade",
      "subtitulo": "Na Vida Religiosa Consagrada e Sacerdotal",
      "objetivo": "Aqui vai um parágrafo com a descrição do curso",
      "modulos": [
        {
          "data": "16/05/2020",
          "horario": "19:00",
          "duracao": "2h",
          "titulo": "Bournout – O Sofrimento Psíquico: O Bom Samaritano Desiludido",
          "assessor_slugs": [ "wellington-heleno-da-silva" ]
        },
        {
          "data": "23/05/2020",
          "horario": "19:00",
          "duracao": "2h",
          "titulo": "Solidão na Vida Religiosa",
          "assessor_slugs": [ "wojciech-mittelstaedt-adalberto" ]
        },
        {
          "data": "30/05/2020",
          "horario": "19:00",
          "duracao": "2h",
          "titulo": "Ansiedade: Sem Tempo para o Agora",
          "assessor_slugs": [ "eduardo-augusto-galindo-de-lima" ]
        },
        {
          "data": "06/06/2020",
          "horario": "19:00",
          "duracao": "2h",
          "titulo": "Sentido da Vida: Terceira Idade",
          "assessor_slugs": [ "maria-de-fatima-rolim-rosa" ]
        }
      ]
    },
    {
      "ano": "2019",
      "tipo": "curso",
      "visivel": true,
      "banner": "curso-o-sofrimento-emocional-e-afetivo-na-saude-mental.jpg",
      "online": false,
      "titulo": "O Sofrimento Emocional e Afetivo na Saúde Mental",
      "subtitulo": "Na Vida Religiosa Consagrada e Sacerdotal",
      "objetivo": "Uma abordagem sobre aspectos emocionais e afetivos dolorosos que privam o humano de ser e, quando não tratados, podem levar a graves consequências na saúde mental.",
      "assessor_slugs": [ "wojciech-mittelstaedt-adalberto" ],
      "data": "06/06/2020",
      "horario": "19:00",
      "duracao": "2h"
    },
    {
      "ano": "2019",
      "tipo": "curso",
      "visivel": true,
      "banner": "curso-suicidio-vamos-falar-sobre-isso.jpg",
      "online": false,
      "titulo": "Suicídio no sacerdócio: vamos conversar sobre isso?",
      "subtitulo": "",
      "objetivo": "A vivência confusa de sentimentos, a solidão e as expectativas depositadas pela família e comunidade revelam as situações conflitivas que sacerdotes e religiosos precisam enfrentar. Será que eles são capacitados para enfrentar isso sozinhos?",
      "assessor_slugs": [ "eduardo-augusto-galindo-de-lima" ],
      "data": "21/11/2020",
      "horario": "14:00",
      "duracao": "4h"
    },
    {
      "ano": "2019",
      "tipo": "curso",
      "visivel": false,
      "banner": "curso-sofrimento-psiquico-na-atualidade.jpg",
      "online": true,
      "plataforma": "Google Meet",
      "titulo": "Sofrimento Psíquico na Atualidade",
      "subtitulo": "Na Vida Religiosa Consagrada e Sacerdotal",
      "objetivo": "Aqui vai um parágrafo com a descrição do curso",
      "modulos": [
        {
          "data": "16/05/2020",
          "horario": "19:00",
          "duracao": "2h",
          "titulo": "Bournout – O Sofrimento Psíquico: O Bom Samaritano Desiludido",
          "assessor_slugs": [ "wellington-heleno-da-silva" ]
        },
        {
          "data": "23/05/2020",
          "horario": "19:00",
          "duracao": "2h",
          "titulo": "Solidão na Vida Religiosa",
          "assessor_slugs": [ "wojciech-mittelstaedt-adalberto" ]
        },
        {
          "data": "30/05/2020",
          "horario": "19:00",
          "duracao": "2h",
          "titulo": "Ansiedade: Sem Tempo para o Agora",
          "assessor_slugs": [ "eduardo-augusto-galindo-de-lima" ]
        },
        {
          "data": "06/06/2020",
          "horario": "19:00",
          "duracao": "2h",
          "titulo": "Sentido da Vida: Terceira Idade",
          "assessor_slugs": [ "maria-de-fatima-rolim-rosa" ]
        }
      ]
    }
  ];

