-
  var cursos = [
    {
      "banner": "curso-sofrimento-psiquico-na-atualidade.jpg",
      "online": true,
      "plataforma": "Google Meet",
      "titulo": "Sofrimento Psíquico na Atualidade",
      "subtitulo": "Na Vida Religiosa Consagrada e Sacerdotal",
      "descricao": "Aqui vai um parágrafo com a descrição do curso",
      "modulos": [
        {
          "data": "16/05/2020",
          "horario": "19:00",
          "titulo": "Bournout – O Sofrimento Psíquico: O Bom Samaritano Desiludido",
          "assessor_slug": "wellington-heleno-da-silva"
        },
        {
          "data": "23/05/2020",
          "horario": "19:00",
          "titulo": "Solidão na Vida Religiosa",
          "assessor_slug": "wojciech-mittelstaedt-adalberto"
        },
        {
          "data": "30/05/2020",
          "horario": "19:00",
          "titulo": "Ansiedade: Sem Tempo para o Agora",
          "assessor_slug": "eduardo-augusto-galindo-de-lima"
        },
        {
          "data": "06/06/2020",
          "horario": "19:00",
          "titulo": "Sentido da Vida: Terceira Idade",
          "assessor_slug": "maria-de-fatima-rolim-rosa"
        }
      ]
    },
    {
      "banner": "curso-o-sofrimento-emocional-e-afetivo-na-saude-mental.jpg",
      "online": false,
      "titulo": "O Sofrimento Emocional e Afetivo na Saúde Mental",
      "subtitulo": "Na Vida Religiosa Consagrada e Sacerdotal",
      "descricao": "Uma abordagem sobre aspectos emocionais e afetivos dolorosos que privam o humano de ser e, quando não tratados, podem levar a graves consequências na saúde mental.",
      "assessor_slug": "wojciech-mittelstaedt-adalberto",
      "data": "06/06/2020",
      "horario": "19:00"
    },
    {
      "banner": "curso-suicidio-vamos-falar-sobre-isso.jpg",
      "online": false,
      "titulo": "Suicídio no sacerdócio: vamos conversar sobre isso?",
      "subtitulo": "",
      "descricao": "A vivência confusa de sentimentos, a solidão e as expectativas depositadas pela família e comunidade revelam as situações conflitivas que sacerdotes e religiosos precisam enfrentar. Será que eles são capacitados para enfrentar isso sozinhos?",
      "assessor_slug": "eduardo-augusto-galindo-de-lima",
      "data": "21/11/2020",
      "horario": "19:00"
    }
  ];

