//- ARQUIVO GERADO, NÃO EDITAR
-
  var cursos =   [
    {
      "assessor_slugs": [
        "vagner-sanagiotto"
      ],
      "dataiso": "2025-10-07",
      "titulo": "Perseverança Vocacional: Decidir por um Projeto de Vida",
      "descricao": "Vamos nos aprofundar nesse tema estudando as fragilidades e\nsustentações da jornada vocacional em seus momentos de crise e de perseverança\nsob a luz da formação humana.",
      "cartaz": "img/curso-2024-10-07.png",
      "link_inscricao": "https://forms.gle/sdcGPmLU7uy2H8Aw5",
      "online": true,
      "horaInicio": 19,
      "minInicio": 30,
      "horaFim": 21,
      "minFim": 0,
      "local": "Sede do Instituto Acolher - ITA"
    }
  ]
