//- ARQUIVO GERADO, NÃO EDITAR
-
  var cursos =   [
    {
      "assessor_slugs": [
        "vagner-sanagiotto"
      ],
      "dataiso": "2024-10-07",
      "titulo": "Perseverança Vocacional: Decidir por um Projeto de Vida",
      "descricao": "Vamos nos aprofundar nesse tema estudando as fragilidades e\nsustentações da jornada vocacional em seus momentos de crise e de perseverança\nsob a luz da formação humana.",
      "cartaz": "img/curso-2024-10-07.png",
      "link_inscricao": "https://forms.gle/sdcGPmLU7uy2H8Aw5",
      "online": true,
      "horaInicio": 19,
      "minInicio": 30,
      "horaFim": 21,
      "minFim": 0,
      "local": "Sede do Instituto Acolher - ITA"
    },
    {
      "assessor_slugs": [
        "wojciech-mittelstaedt-adalberto",
        "paulo-sergio-frederico"
      ],
      "dataiso": "2024-08-24",
      "titulo": "A espiritualidade que (nos) sustenta",
      "descricao": "Independente da fé e da religião, incluindo a nossa da religião católica, \npercebemos que existem várias formas de ver a espiritualidade, por exemplo, como: \nalimento, receita, caminho, procura, paz, etc. \n•\tQual dessas visões é mais próxima para mim? \n•\tTenho uma espiritualidade que sustenta o propósito da minha vida, que me preenche? \n•\tExiste uma espiritualidade universal, saudável?\n•\tO que seria uma espiritualidade imatura ou doentia? \nVamos conversar sobre isso procurando juntos as respostas.",
      "cartaz": "img/curso-2024-08-24a.png",
      "link_inscricao": "https://forms.gle/M3A1SDDwi2KGmRFR7",
      "online": true,
      "horaInicio": 9,
      "minInicio": 0,
      "horaFim": 12,
      "minFim": 0,
      "local": "Sede do Instituto Acolher - ITA"
    },
    {
      "assessor_slugs": [
        "wellington-heleno-da-silva"
      ],
      "dataiso": "2024-07-16",
      "titulo": "O Curador Ferido: Autoperdão e a Capacidade para Manter a Esperança",
      "descricao": "Neste curso, exploraremos a experiência do 'curador ferido', \naqueles indivíduos que dedicam suas vidas a cuidar e curar os outros, mas que \neventualmente se encontram em um estado de desilusão. Abordaremos os sinais e \nsintomas de esgotamento emocional e desgaste compassivo, destacando como esses \nfatores podem minar a capacidade de manter a esperança e examinaremos os impactos \nnegativos da falta de esperança, que podem levar à depressão e à desilusão com a \nprópria vida pessoal e vocacional. Abordaremos também a influência e relação do EU \nversus a Comunidade na construção de um espaço interno psicológico propício para \ncultivar a capacidade humana de sonhar, fantasiar, imaginar, brincar e, por fim, \nmanter a esperança viva, mesmo em face de desafios e adversidades.",
      "cartaz": "img/curso-2024-07-16.png",
      "link_inscricao": "https://forms.gle/uD9aahi5rT8nFbTA6",
      "online": true,
      "horaInicio": 19,
      "minInicio": 30,
      "horaFim": 21,
      "minFim": 0,
      "local": "Sede do Instituto Acolher - ITA"
    },
    {
      "assessor_slugs": [
        "ivan-rodrigues-e-silva-filho"
      ],
      "dataiso": "2024-06-22",
      "titulo": "A Psicologia como instrumento adequado para formação humana na vida sacerdotal, religiosa e laical.",
      "descricao": "O curso objetiva promover conhecimento sobre a importância do uso adequado, e assertivo, dos \nserviços psicológicos e da atuação do profissional da psicologia para a formação humana. A ideia é fornecer \ndados sobre o manuseio devido das ferramentas da psicoterapia e da avaliação psicológica, a partir das \norientações da Igreja Católica, dos princípios éticos e científicos da psicologia e das reflexões de autores \nque lidam com o tema. Este trabalho tem como base teórica o conteúdo do meu livro lançado pelas Edições Loyola \nem 2023, 'A Psicologia na Vida Religiosa e Sacerdotal – por uma formação humana de qualidade', assim como obras \nde Jung, Viktor Frankl, Antoine Vergote, Stephen Finn. Edênio Valle, Anderson Frezzato, Ênio Brito, \nMário Aletti e outros.",
      "cartaz": "img/curso-2024-06-22.png",
      "link_inscricao": "https://forms.gle/FropG3m54b3o627ZA",
      "online": true,
      "horaInicio": 9,
      "minInicio": 0,
      "horaFim": 16,
      "minFim": 0,
      "local": "Sede do Instituto Acolher - ITA"
    },
    {
      "assessor_slugs": [
        "lourdes-degrandis"
      ],
      "dataiso": "2024-05-18",
      "titulo": "Ecos da Vida - Experiências da vida que ecoam em seu cotidiano",
      "descricao": "O curso é destinado a todas as pessoas, sem restrições. O objetivo é proporcionar momentos de diálogo \ncom você e o grupo sobre os ecos que as emoções e sentimentos tem no cotidiano da vida. \nSerá uma oportunidade de experiênciar em você o que a vida lhe oferece e usufruir disso \npara sua saúde física, mental, emocional e espiritual!",
      "cartaz": "img/curso-2024-05-18.png",
      "link_inscricao": "https://forms.gle/657otZKb2hUVURgeA",
      "online": true,
      "horaInicio": 9,
      "minInicio": 0,
      "horaFim": 11,
      "minFim": 0,
      "local": "Sede do Instituto Acolher - ITA"
    },
    {
      "assessor_slugs": [
        "vagner-sanagiotto"
      ],
      "dataiso": "2024-04-08",
      "titulo": "O psicodiagnóstico da experiência religiosa problemática no contexto clínico",
      "descricao": "O curso é destinado a psicólogos que trabalham nos seminários e casas religiosas, \nformadores/as responsáveis pela formação à vida religiosa consagrada e presbiteral, \nanimadores vocacionais, superiores/as.",
      "cartaz": "img/curso-2024-04-08.png",
      "link_inscricao": "https://forms.gle/cm6GtHAiFjQjPW9u5",
      "online": true,
      "horaInicio": 19,
      "minInicio": 30,
      "horaFim": 21,
      "minFim": 0,
      "local": "Sede do Instituto Acolher - ITA"
    }
  ]
