//- ARQUIVO GERADO, NÃO EDITAR
-
  var eventos =   [
    {
      "youtube": "6wDK9MB1VhU",
      "ativo": true,
      "dia": "2022-11-25",
      "titulo": "Cuidado com as emoções nas festas de fim de ano",
      "assessor_slugs": [
        "eduardo-augusto-galindo-de-lima"
      ],
      "cartaz": "img/bp-2022-11-25.png",
      "descricao": "Daqui alguns dias estaremos vivendo às emoções e \nsentimentos que envolvem o fim de um ano e o início \nde outro. Para falar sobre isso que contamos com a \nsua experiência e olhar profissional para viver \nbem este tempo tão significativo e esperado.\n",
      "online": true
    },
    {
      "youtube": "tpVdtIxEPrg",
      "ativo": true,
      "dia": "2022-10-28",
      "titulo": "Transtornos Mentais",
      "assessor_slugs": [
        "anamelia-alvarenga-do-nascimento"
      ],
      "cartaz": "img/bp-2022-10-28.png",
      "descricao": "Parafraseando Caetano, “De perto, ninguém é normal”, \nvamos conversar sobre o quanto os transtornos mentais \npodem ser sintomas de sofrimentos psíquicos \nrelacionados às questões psicossociais e da vida \nem sociedade.",
      "online": true
    },
    {
      "youtube": "sl9djoCHV-0",
      "ativo": true,
      "dia": "2022-09-30",
      "titulo": "Depressão Atípica",
      "assessor_slugs": [
        "eduardo-augusto-galindo-de-lima"
      ],
      "cartaz": "img/bp-2022-09-30.png",
      "descricao": "A depressão pode se \"disfarçar\" num sorriso. \nNa \"depressão sorridente\" a pessoa encobre \ninconscientemente seus sintomas para que os \noutros não percebam a dor e o sofrimento \nque ela enfrenta. Trata-se de uma \n\"depressão atípica\" muito difícil de se diagnosticar.",
      "online": true
    },
    {
      "youtube": "GOq6LKnLWkw",
      "ativo": true,
      "dia": "2022-06-24",
      "titulo": "Estresse: um bem, um mal",
      "assessor_slugs": [
        "eduardo-augusto-galindo-de-lima"
      ],
      "cartaz": "img/bp-2022-06-24.png",
      "descricao": "Saiba mais sobre essa reação do organismo que pode ser boa ou má e amplie\no olhar e a percepção de si mesmo. Vamos falar também sobre formas critativas\npara evitar o adoecimento.",
      "online": true
    },
    {
      "youtube": "-cRn9Cb9ZX8",
      "ativo": true,
      "dia": "2022-05-27",
      "titulo": "Síndrome de Pânico",
      "assessor_slugs": [
        "eduardo-augusto-galindo-de-lima"
      ],
      "cartaz": "img/bp-2022-05-27.png",
      "descricao": "Vamos esclarecer dúvidas sobre essa doença que afeta milhares de pessoas em\ntodo o mundo.",
      "online": true
    },
    {
      "ativo": true,
      "dia": "2022-02-25",
      "titulo": "Teologia e os LGBT+",
      "assessor_slugs": [
        "wellington-heleno-da-silva"
      ],
      "cartaz": "img/bp-2022-02-25.png",
      "descricao": "Longe de ser uma questão meramente abstrata, o tema da teologia e os LGBT+ se\nlança a uma realidade que diz respeito à vida concreta de muitas pessoas que\nnem sempre são acolhidas pela comunidade cristã.",
      "online": true,
      "convidados": [
        {
          "nome": "Pe. Luís Corrêa Lima"
        }
      ]
    },
    {
      "youtube": "NlG1iCbRvOY",
      "ativo": true,
      "dia": "2022-03-25",
      "titulo": "Massoterapia",
      "assessor_slugs": [
        "wojciech-mittelstaedt-adalberto"
      ],
      "cartaz": "img/bp-2022-03-25.png",
      "descricao": "A massoterapia nos ajuda a viver com mais qualidade tanto nos aspectos físicos\nquanto mentais.",
      "online": true,
      "convidados": [
        {
          "nome": "Ir. Jyothi Joseph Satyanapalli, do PIME"
        }
      ]
    },
    {
      "youtube": "0-QVm32Nb7M",
      "ativo": true,
      "dia": "2022-04-08",
      "titulo": "Guerra na Ucrânia: Aspectos Psicológicos da Agressividade e do Autoritarismo",
      "assessor_slugs": [
        "wojciech-mittelstaedt-adalberto"
      ],
      "cartaz": "img/bp-2022-04-08.png",
      "descricao": "Os aspectos econômicos, culturais, sociais e morais de uma nação que podem ter\nrelação com os aspectos individuais da psique.",
      "online": true
    },
    {
      "ativo": true,
      "dia": "2022-01-22",
      "cartaz": "img/2022_branco.png"
    },
    {
      "dia": "2022-08-26"
    },
    {
      "dia": "2022-10-28"
    },
    {
      "dia": "2022-11-25"
    }
  ]
