//- ARQUIVO GERADO, NÃO EDITAR
-
  var cursos =   [
    {
      "assessor_slugs": [
        "sergio-lucas-camara"
      ],
      "dataiso": "2023-08-05",
      "titulo": "Reflexões sobre a morte e o luto para a prática clínica e pastoral",
      "descricao": "A perda é um tema mais do que necessário nesse momento em que as fragilidades humanas parecem estar ainda mais presentes.",
      "cartaz": "img/curso-2023-07-07-b.png",
      "link_inscricao": "https://forms.gle/ay6W8LV8i5PRNuKx7",
      "online": true
    },
    {
      "assessor_slugs": [
        "sergio-lucas-camara"
      ],
      "dataiso": "2023-10-27",
      "titulo": "Reflexões sobre a morte e o luto: compreensão e acolhimento",
      "descricao": "Atendendo a pedidos ofereceremos novamente o curso online \"Reflexões sobre a morte e o luto\", \ncom o psicólogo e membro do Instituto Acolher-ITA, Pe. Sérgio Lucas Câmara. Desta vez, o curso será à noite, em \numa quarta-feira. Aproveite essa oportunidade de conhecer aspectos históricos, práticos e teóricos sobre a morte e o luto.",
      "cartaz": "img/curso-2023-10-04.png",
      "link_inscricao": "https://forms.gle/VQm5imqDMwcPsBGp9",
      "online": true
    },
    {
      "assessor_slugs": [
        "anamelia-alvarenga-nascimento"
      ],
      "dataiso": "2023-09-16",
      "titulo": "Aspectos psicossociais e patológicos na tentativa de suicídio",
      "descricao": "Nesta série do Instituto Acolher-ITA sobre os desafios na vida consgrada e sacedotal vamos abordar vários\naspectos relacionados aos dramas e fragilidades que levam uma pessoa a atentar contra a própria vida.",
      "cartaz": "img/curso-2023-09-16.png",
      "link_inscricao": "https://forms.gle/32635BWufx1KzwDz5",
      "online": true
    },
    {
      "assessor_slugs": [
        "vagner-sanagiotto"
      ],
      "dataiso": "2023-08-07",
      "titulo": "É possível medir uma vocação? - O psicodiagnóstico na perspectiva do crescimento humano e vocacional",
      "descricao": "Uma visão atual e esclarecedora sobre a questão vocacional na Vida Religiosa Consagrada e sacerdotal",
      "cartaz": "img/curso-2023-07-07-c.png",
      "link_inscricao": "https://forms.gle/x2CNZBfgGVQmAwK17",
      "online": true
    },
    {
      "assessor_slugs": [
        "wellington-heleno-da-silva"
      ],
      "dataiso": "2023-06-24",
      "titulo": "O curador ferido - um olhar para si: superando angústias e fragilidades",
      "descricao": "Vamos falar sobre o dinamismo e a força da sexualidade, dos conflitos e dos desejos e de como eles repercutem na VRC e sacerdotal",
      "cartaz": "img/curso-2023-06-24-a.png",
      "link_inscricao": "https://forms.gle/GNKtbYyCjFppXx8B9",
      "online": true
    },
    {
      "assessor_slugs": [
        "anamelia-alvarenga-nascimento"
      ],
      "dataiso": "2023-05-20",
      "titulo": "Como estou cuidando da minha saúde mental?",
      "descricao": "Vamos tratar das práticas que ajudam e das que atrapalham o cultivo de uma mente saudável",
      "cartaz": "img/curso-2023-05-20-a.png",
      "link_inscricao": "https://forms.gle/GNKtbYyCjFppXx8B9",
      "online": true
    },
    {
      "assessor_slugs": [
        "frei-josé-moacyr-cadenassi"
      ],
      "dataiso": "2023-05-13",
      "titulo": "Lectio Divina: Leitura Orante da Palavra de Deus",
      "descricao": "Neste momento de 'rezar a palavra', que é o objetivo da 'Lectio Divina', \no(a) orante experimenta a força vivificadora da Palavra de Deus, mediante os quatro passos: \n1) Leitura; 2) Meditação; 3) Oração; e 4) Contemplação. É um exercício de transposição, \npela leitura, para o conteúdo da perícope bíblica escolhida para a vivência, resultando \nno aprendizado, louvor e compromisso de vida de quem, peregrino(a), \ncorresponde à obra da graça divina na história.",
      "cartaz": "img/curso-2023-05-13-a.png",
      "link_inscricao": "https://forms.gle/vsNYMZ6Q2L3NtQJN8",
      "online": false
    },
    {
      "assessor_slugs": [
        "wojciech-mittelstaedt-adalberto"
      ],
      "dataiso": "2023-04-25",
      "titulo": "O impacto das mídias sociais e da Internet na VRC e sacerdotal",
      "descricao": "Como o uso das mídias sociais afetam as rotinas e avanços da vida religiosa consagrada e sacerdotal.",
      "cartaz": "img/curso-2023-04-25.png",
      "link_inscricao": "https://forms.gle/GNKtbYyCjFppXx8B9",
      "online": true
    }
  ]
