//- ARQUIVO GERADO, NÃO EDITAR
-
  var contatos =   [
    {
      "nome": "Sao Paulo",
      "mapa": "localizacao_sp.html",
      "logradouro": "Rua Prof. José Cucé, 125, 04055-070",
      "bairro": "Saúde - São Paulo/SP",
      "fone": "(11) 4371-0935",
      "whatsapp": "(11) 9 4522-7267",
      "whatsappNumber": "5511945227267",
      "whatsappMensagem": "Olá,+gostaria+de+saber+mais+informações+sobre+os+serviços+do+ITA",
      "email": "acolher_ita@outlook.com",
      "horarioAtendimento": "Das 10h às 16h",
      "diasAtendimento": "De segunda a sexta-feira"
    },
    {
      "nome": "Belo Horizonte",
      "mapa": "localizacao_bh.html",
      "logradouro": "Rua Prof. José Cucé, 125, 04055-070",
      "bairro": "Saúde - São Paulo/SP",
      "fone": "(11) 4371-0935",
      "whatsapp": "(11) 9 4522-7267",
      "whatsappNumber": "5511945227267",
      "whatsappMensagem": "Olá,+gostaria+de+saber+mais+informações+sobre+os+serviços+do+ITA",
      "email": "acolher_ita@outlook.com",
      "horarioAtendimento": "Das 10h às 16h",
      "diasAtendimento": "De segunda a sexta-feira"
    },
    {
      "nome": "Curitiba",
      "mapa": "localizacao_bh.html",
      "logradouro": "Rua Prof. José Cucé, 125, 04055-070",
      "bairro": "Saúde - São Paulo/SP",
      "fone": "(11) 4371-0935",
      "whatsapp": "(11) 9 4522-7267",
      "whatsappNumber": "5511945227267",
      "whatsappMensagem": "Olá,+gostaria+de+saber+mais+informações+sobre+os+serviços+do+ITA",
      "email": "acolher_ita@outlook.com",
      "horarioAtendimento": "Das 10h às 16h",
      "diasAtendimento": "De segunda a sexta-feira"
    }
  ]
