footer.page-footer.grad-nav
  .container
    .row
        .col.l4.s12
          include:markdown-it(html) ../textos/rodape.md
          include redes_sociais
        .col.l4.s12
          include links_uteis
        .col.l4.s12
          include contato

  .footer-copyright
    .container
      | © 2021 Instituto Acolher
      a.grey-text.text-lighten-4.right(href="https://institutoacolher.org.br") Topo

  .fixed-action-btn
    a.btn-floating.btn-large.white
      img.fixed-action-btn-main(src="img/ita-logo-min_1024x1024.svg")
    ul
      li
        a.btn-floating.teal(title="Instituição",href="index.html")
          i.fa-menu-icon.fa.fa-lg.fa-university
      li
        a.btn-floating.teal(title="Serviços",href="servicos.html")
          i.fa-menu-icon.fa.fa-lg.fa-diamond
      li
        a.btn-floating.teal(title="Membros",href="membros.html")
          i.fa-menu-icon.fa.fa-lg.fa-users
      li
        a.btn-floating.teal(target="_blank",href="https://api.whatsapp.com/send?phone=" + whatsappNumber + "&text=" + whatsappMensagem)
          i.fa.fa-menu-icon.xfa-lg.fa-whatsapp
