footer.page-footer.grad-nav
  .container
    .row
        .col.l4.s12
          include:markdown-it(html) ../textos/rodape.md
          include redes_sociais
        .col.l4.s12
          include links_uteis
        .col.l4.s12
          include contato

  .footer-copyright
    .container
      | © 2021 Instituto Acolher
      a.grey-text.text-lighten-4.right(href="https://institutoacolher.org.br") Topo

  .fixed-action-btn
    a.btn-floating.btn-large(target="_blank",href="https://api.whatsapp.com/send?phone=" + whatsappNumber + "&text=" + whatsappMensagem)
      i.fa.xfa-menu-icon.fa-2x.xfa-lg.fa-whatsapp
