footer.page-footer.grad-nav
  .container
    .row
        .col.l9.s12
          include:markdown-it(html) ../textos/rodape.md
        .col.l3.s12
          include:markdown-it(html) ../textos/rodape-contato.md

  .footer-copyright
    .container
      | © 2021 Instituto Acolher
      a.grey-text.text-lighten-4.right(href="#!") Outros links
