//- ARQUIVO GERADO, NÃO EDITAR
-
  var membros =   [
    {
      "ativo": true,
      "locais_de_atendimento": [
        "sp_1",
        "bh_1"
      ],
      "grupo": "psicoterapêutico",
      "avatar": "maria-da-conceicao-machado-silva-rosa.jpg",
      "masculino": false,
      "slug": "maria-da-conceicao-machado-silva-rosa",
      "nome": "Maria da Conceição Machado Silva Rosa",
      "titulo": "Psicóloga Clínica",
      "CRP": "06/98755",
      "descricao": "Possui Especialização em Cuidados Primários em Saúde Mental pela UNIFESP-SP\ne Especialização em Psicopatologia e Saúde Pública pela Faculdade de Saúde\nPública – USP.",
      "areas": [
        "Saúde mental",
        "Psicoterapia individual",
        "Psicologia Clínica",
        "Psicologia Institucional",
        "Psicopatologia e saúde pública"
      ]
    },
    {
      "ativo": true,
      "locais_de_atendimento": [
        "pe"
      ],
      "grupo": "psicoterapêutico",
      "avatar": "ivan-rodrigues.jpeg",
      "masculino": true,
      "slug": "ivan-rodigues-e-silva-filho",
      "nome": "Ivan Rodrigues e Silva Filho",
      "titulo": "Psicólogo Clínico",
      "CRP": "11/0668",
      "descricao": "Ivan Rodrigues é mestre e doutorando em Psicologia Clínica \ne da Saúde e especialista em Avaliação Psicológica. É também professor da \nFaculdade Jesuíta (FAJE) no curso de Especialização em Espiritualidade \nCristã e Orientação Espiritual. 35 anos de experiência na clínica psicoterápica \nna abordagem existencial fenomenológica, assim como no serviço de Avaliação Psicológica.\nTrabalha com assessoria e palestras.\nAutor do livro “A Psicologia na vida religiosa e sacerdotal - por uma formação humana de qualidade” pela Ed Loyola.\n",
      "areas": [
        "Psicoterapia individual",
        "Psicologia Clínica",
        "Avaliação Psicológica",
        "Assessorias e Palestras"
      ]
    },
    {
      "ativo": true,
      "locais_de_atendimento": [
        "bh_1"
      ],
      "grupo": "psicoterapêutico",
      "avatar": "maria-jose-borela.png",
      "masculino": false,
      "slug": "maria-jose-borela",
      "nome": "Maria José Borela",
      "titulo": "Psicóloga Clínica/ Psicanalista",
      "CRP": "04/11641",
      "descricao": "Pós-graduada em psicopedagogia pela CEPEMG. Foi coordenadora por quartoze anos da Clínica Social Santa Tereza BHTE-MG.\n",
      "areas": [
        "Psicoterapia Individual - presencial e online",
        "Psicoterapia de Grupo",
        "Vivências - Adolescentes e Adulto"
      ]
    },
    {
      "ativo": true,
      "locais_de_atendimento": [
        "sp_2"
      ],
      "grupo": "psicoterapêutico",
      "avatar": "elizete-moura-dos-santos.jpg",
      "masculino": false,
      "slug": "elizete-moura-dos-santos",
      "nome": "Ir. Elizete Moura dos Santos",
      "titulo": "Psicóloga",
      "CRP": "06/177899",
      "descricao": "Licenciada em Filosofia; Psicóloga Clínica; Especialista em Adolescência\ne Juventude; Associada ao Corpo Freudiano Escola de Psicanálise de João\nPessoa/PB.",
      "areas": [
        "Psicologia Clínica",
        "Psicoterapia individual",
        "Formações",
        "Palestras",
        "Coordenação e interação grupal"
      ]
    },
    {
      "ativo": true,
      "locais_de_atendimento": [
        "curitiba_1"
      ],
      "grupo": "administrativo",
      "avatar": "paulo-sergio-frederico.jpg",
      "masculino": true,
      "slug": "paulo-sergio-frederico",
      "nome": "Paulo Sérgio Frederico",
      "titulo": "Secretário",
      "descricao": "",
      "areas": [
        "Organização dos eventos"
      ]
    },
    {
      "ativo": true,
      "locais_de_atendimento": [
        "sp_1"
      ],
      "grupo": "psicoterapêutico",
      "avatar": "eduardo-augusto-galindo-de-lima.jpg",
      "masculino": true,
      "slug": "eduardo-augusto-galindo-de-lima",
      "nome": "Eduardo Augusto Galindo de Lima",
      "titulo": "Psicólogo Clínico",
      "CRP": "06/82462",
      "descricao": "Especialista em Psicoterapia Breve",
      "areas": [
        "Psicoterapia de adultos",
        "Grupos e casal",
        "Workshop",
        "Assessorias de grupos e palestras"
      ]
    },
    {
      "ativo": true,
      "locais_de_atendimento": [
        "sp_1"
      ],
      "avatar": "lillian-maria-penteado-de-arruda-zamith.jpg",
      "grupo": "psicoterapêutico",
      "masculino": false,
      "slug": "lillian-maria-penteado-de-arruda-zamith",
      "nome": "Lilian Maria Penteado de Arruda Zamith",
      "titulo": "Psicóloga clínica e Hospitalar",
      "CRP": "06/35767-8",
      "descricao": "Especialista em Psicologia corporal pelo Instituto Sedes\nSapientiae. Aperfeiçoamento em Psicologia Winnicotiana do Amadurecimento.\nTCC – Terapia Cognitiva Comportamental.",
      "areas": [
        "Psicoterapia individual",
        "Casais",
        "Grupos",
        "Vivências",
        "Cursos",
        "Palestras"
      ]
    },
    {
      "ativo": true,
      "locais_de_atendimento": [
        "sp_1"
      ],
      "grupo": "psicanalítico",
      "avatar": "francisco-glenio-de-almeida.jpg",
      "masculino": true,
      "slug": "francisco-glenio-de-almeida",
      "nome": "Francisco Glenio de Almeida",
      "titulo": "Psicoterapeuta",
      "CRP": "",
      "descricao": "Formado em filosofia (Unifai), Teologia (N. Sra. Assunção), Aconselhamento\ne Orientação familiar. Pós-graduado em Psicoterapia Psicanalitica\n(Cepsi-Unip).",
      "areas": [
        "Atendimento individual",
        "Atendimento familiar",
        "Atendimento de casais",
        "Psicoterapia psicanalítica"
      ]
    },
    {
      "ativo": true,
      "locais_de_atendimento": [
        "sp_1"
      ],
      "grupo": "psicoterapêutico",
      "avatar": "lourdes-degrandis.jpg",
      "masculino": false,
      "slug": "lourdes-degrandis",
      "nome": "Lourdes Degrandis",
      "titulo": "Psicóloga Clínica",
      "CRP": "06/35768-6",
      "descricao": "Psicóloga Clínica com especialização em Psicoterapia Corporal pelo Instituto\nSedes Sapientiae, Psicossomática pelo Instituto Sedes Sapientiae, EMDR\n(Dessensibilizarão e Sensibilização através de movimentos Oculares) pela\nSociedade Brasileira e Libero Americana de EMDR e Neuropsicologia pelo CDN\n- Centro de Diagnóstico Neuropsicológico - UNIFSP.",
      "areas": [
        "Atendimento de adultos (individual e grupos)",
        "Assessoria a instituições",
        "Workshop",
        "Cursos",
        "Palestras"
      ],
      "notas": [
        "Artigo na Revista Convergência",
        "Trabalho sobre Gerações- Formadores - PUC-SP e ITESP",
        "Formadores - OSIB",
        "Formadores - CRB-SP",
        "Juninter - CRB-SP"
      ]
    },
    {
      "ativo": true,
      "locais_de_atendimento": [
        "sp_1"
      ],
      "grupo": "x",
      "avatar": "maria-de-fatima-naves.jpg",
      "masculino": false,
      "slug": "maria-de-fatima-naves",
      "nome": "Mária de Fátima Naves",
      "titulo": "Psicóloga Clínica",
      "CRP": "06/40520-0",
      "descricao": "Especialização em Análise Transacional, Psicodrama e Psicanálise das\nConfigurações Vinculares.",
      "areas": [
        "Psicoterapia individual",
        "Psicoterapia de grupo",
        "Coordenação de grupos de reflexão em Psicanálise dos Vínculos",
        "Integração grupal"
      ]
    },
    {
      "ativo": true,
      "locais_de_atendimento": [
        "sp_1"
      ],
      "grupo": "psicoterapêutico",
      "avatar": "maria-de-fatima-rolim-rosa.jpg",
      "masculino": false,
      "slug": "maria-de-fatima-rolim-rosa",
      "nome": "Maria de Fátima Rolim Rosa",
      "titulo": "Psicóloga Clínica",
      "CRP": "06/34959-7",
      "descricao": "Especialização e aperfeiçoamento em Gestalt-Terapia, Psicologia Junguiana\ne Corporal, Psicologia Winnicotiana e Psicanálise das Configurações\nVinculares.",
      "areas": [
        "Psicoterapia Individual",
        "Psicoterapia de grupal",
        "Workshop",
        "Assessoria a instituições",
        "Acompanhamento de grupos",
        "Cursos",
        "Palestras"
      ]
    },
    {
      "ativo": true,
      "locais_de_atendimento": [
        "sp_1"
      ],
      "grupo": "psicoterapêutico",
      "avatar": "maria-ondina-da-silva-peruzzo.jpg",
      "masculino": false,
      "slug": "maria-ondina-da-silva-peruzzo",
      "nome": "Maria Ondina da Silva Peruzzo",
      "titulo": "Especialista em Psicologia Clínica",
      "CRP": "06/23032",
      "descricao": "Especialização em coordenação de grupos e grupoterapia, membro efetivo do\nNESME. Especialização em Rorscharch e outras técnicas projetivas; membro\nefetivo da Sociedade Brasileira de Rorschach.",
      "areas": [
        "Psicoterapia individual",
        "Psicoterapia de grupo",
        "Psicodiagnóstico individual",
        "Psicodiagnóstico de grupo",
        "Assessoria de grupos em instituições"
      ]
    },
    {
      "ativo": true,
      "locais_de_atendimento": [
        "sp_1"
      ],
      "grupo": "psicoterapêutico",
      "avatar": "maria-silva-mourao.jpg",
      "masculino": false,
      "slug": "maria-silva-mourao",
      "nome": "Maria Silva Mourão",
      "titulo": "Especialista em Psicologia Clínica",
      "CRP": "06/16774",
      "descricao": "Mestre em Psicologia Clínica pela PUC-SP; especialista em espiritualidade pela\nGregoriana – Roma; artigos publicados na área da Vida Religiosa Consagrada. Foi\nmembro da Equipe de Reflexão dos psicólogos da CRB Nacional por quatorze\nanos.",
      "areas": [
        "Psicoterapia individual",
        "Psicoterapia de grupo",
        "Assessorias a congregações religiosas"
      ]
    },
    {
      "ativo": true,
      "locais_de_atendimento": [
        "sp_1"
      ],
      "grupo": "psicoterapêutico",
      "avatar": "maruzania-soares-dias.jpg",
      "masculino": false,
      "slug": "maruzania-soares-dias",
      "nome": "Maruzânia Soares Dias",
      "titulo": "Psicanalista / Psicóloga Clinica",
      "CRP": "06/53301-7",
      "descricao": "Mestre em Ciências da Religião PUC-SP; graduada em Psicologia pela PUC-SP;\nmembro da IF-EPFCL – Fórum SP (Internacional dos Fóruns – Escola de Psicanálise\ndos Fóruns do Campo Lacaniano – Fórum São Paulo).",
      "areas": [
        "Atendimento clínico",
        "Assessorias a grupos e instituições",
        "Conferências"
      ]
    },
    {
      "ativo": true,
      "locais_de_atendimento": [
        "sp_1"
      ],
      "grupo": "psicoterapêutico",
      "avatar": "wellington-heleno-da-silva.jpg",
      "masculino": true,
      "slug": "wellington-heleno-da-silva",
      "nome": "Wellington Heleno da Silva",
      "titulo": "Psicólogo Clínico",
      "CRP": "06/10292",
      "descricao": "Especialização em Psicoterapia Psicanalítica – CEPSI/UNIP; MBA em Gestão de\nPessoas e Liderança – BSP (Business School of São Paulo); Graduado em Teologia,\nInstituto Pio XI; Curso de Filosofia no Instituto Filosófico do Mosteiro de São\nBento; Curso de Psicologia de Grupo e Aconselhamento de Adolescentes e Jovens.\nMembro efetivo do Instituto Acolher – ITA.",
      "areas": [
        "Psicoterapia individual",
        "Psicoterapia de grupo (adolescentes, adultos e casais)",
        "Grupos psicanalíticos de reflexão e discussões",
        "Palestras e assessorias de formação para grupos e instituições"
      ]
    },
    {
      "ativo": true,
      "locais_de_atendimento": [
        "sp_1"
      ],
      "grupo": "psicoterapêutico",
      "avatar": "wojciech-mittelstaedt-adalberto.jpg",
      "masculino": true,
      "slug": "wojciech-mittelstaedt-adalberto",
      "nome": "Wojciech Mittelstaedt (Adalberto)",
      "titulo": "Psicopedagogo / Psicólogo Clínico",
      "CRP": "06/99753",
      "descricao": "Padre da Congregação do Verbo Divino; Doutor em Ciências da Religião (PUC/SP)\ncom enfoque em Psicologia da Religião; Mestre em Teologia pela Universidade\nKUL, na Polônia; graduado em Psicologia (Universidade São Marcos – SP);\nespecializado em Psicopedagogia; aperfeiçoamento em tratamento da Dependência\nQuímica pela UNIFESP; Membro do Instituto Acolher – ITA.",
      "areas": [
        "Psicologia clínica",
        "Assessorias",
        "Palestras",
        "Formação religiosa",
        "Espiritualidade sacerdotal",
        "Renovação religiosa",
        "Tratamento dos vícios"
      ]
    },
    {
      "ativo": true,
      "locais_de_atendimento": [
        "sp_1"
      ],
      "grupo": "outras",
      "avatar": "jyothi-joseph-satyanapalli.jpg",
      "masculino": false,
      "slug": "jyothi-joseph-satyanapalli",
      "nome": "Jyothi Joseph Satyanapalli",
      "titulo": "Massoterapêuta",
      "descricao": "Missionária indiana do PIME, tem \ncontato com a massagem desde criança, \nquando aplicava as técnicas em seus \npais e avós",
      "areas": [
        "Massoterapia",
        "Drenagem linfática",
        "Quick massagem",
        "Bambu terapia",
        "Pedras quentes",
        "Modelação",
        "Redução",
        "Limpeza facial",
        "Terapia Eletromagnético",
        "Reflexologia",
        "Floral de Bach"
      ]
    },
    {
      "ativo": true,
      "locais_de_atendimento": [
        "sp_1"
      ],
      "grupo": "psicoterapêutico",
      "avatar": "leonel-gomes-da-silva.jpg",
      "masculino": true,
      "slug": "leonel-gomes-da-silva",
      "nome": "Leonel Gomes da Silva",
      "titulo": "Psicólogo",
      "CRP": "06/220757",
      "descricao": "Master em Psicologia do Desenvolvimento da criança e do Adolescente pela Universidade de Santiago de Compostela \nEspecializacao em Neuropsicologia pela Faculdade Rui Barbosa, Salvador, BA. Graduação em Filosofia pela FAJE,\nGraduação em Teologia pela FaJe. Graduando em Psicologia pela Mackenzie.",
      "areas": [
        "Orientação Educacional",
        "Pastoral",
        "Projetos Sociais"
      ],
      "areas_es": [
        "Orientación educativa",
        "Pastoral",
        "Proyectos sociales"
      ]
    },
    {
      "ativo": true,
      "locais_de_atendimento": [
        "sp_1"
      ],
      "grupo": "outras",
      "avatar": "marilda-santos-de-souza.jpg",
      "masculino": true,
      "slug": "marilda-santos-de-souza",
      "nome": "Marilda Santos de Souza",
      "titulo": "Bacharel em Psicologia",
      "CRP": "x",
      "descricao": "",
      "areas": [
        "x",
        "y"
      ]
    },
    {
      "ativo": true,
      "locais_de_atendimento": [
        "sp_1"
      ],
      "grupo": "psicoterapêutico",
      "avatar": "sergio-lucas-camara.jpg",
      "masculino": true,
      "slug": "sergio-lucas-camara",
      "nome": "Sérgio Lucas Câmara",
      "titulo": "Psicólogo",
      "CRP": "06/107924",
      "descricao": "Padre e pároco da Arquidiocese de São Paulo, Doutor em Psicologia Clínica pela PUC de São Paulo, \nMestrado em Psicologia Clínica pela PUC de São Paulo, Mestre em Teologia Pastoral pela UNIFAI de São Paulo.\nPublicações: CAMARA, S. L.; VALE, T.G. Assistência espiritual. In: CASTILHO, R. K.; SILVA, V.C.S.; PINTO, C.S. \nManual de Cuidados Paliativos da Academia Nacional de Cuidados Paliativos - ANCP, 3ª. ed. Rio de Janeiro: Atheneu, 2021.\nCAMARA, S. L; VALE, T. G.; BASSANI, M. A. A preparação dos padres para lidarem com a situação de morte no Brasil: \numa revisão documental e crítica. Revista de Cultura Teológica. São Paulo, n. 93, pp. 322-347, 2019.",
      "areas": [
        "Psicoterapia com enlutados",
        "Psicologia Clínica"
      ]
    },
    {
      "ativo": true,
      "locais_de_atendimento": [
        "sp_1"
      ],
      "grupo": "psicoterapêutico",
      "avatar": "vagner-sanagiotto.jpg",
      "masculino": true,
      "slug": "vagner-sanagiotto",
      "nome": "Vagner Sanagiotto",
      "titulo": "Psicólogo",
      "CRP": "08/23984",
      "descricao": "Doutor em Psicologia pela Pontificia Università Salesiana (Roma, Itália), teólogo e filósofo. \nTem como área de pesquisa a Psicopatologia na Vida Religiosa e Presbiteral. \n",
      "areas": [
        "Vida Religiosa",
        "Logoterapia",
        "Ciências da Religião",
        "História e Cultura da Religião",
        "Theology of religious (consecrated life)",
        "Lived Religion and Religious Practice in Everyday Life",
        "Priesthood",
        "Priestly Writings"
      ]
    }
  ]
