//- Imagens do membros devem ser quadradas e com tamanho superior a 400x400
//- Grupos para classificação:
//-   psicoespiritual
//-   psicoterapêutico
//-   psicanalítico
//-
//- Membros ativos 2021-11-26
//- Edênio Valle Pe. (vice-presidente honorário)
//- Adalberto Wojciech Mittelstaedt
//- Enio Brito Pinto
//- Flávia Moreira da Silva
//- Lillian M. P. de Arruda Zamith
//- Lourdes Degrandis
//- Maria de Fátima Rolim Rosa
//- Maria Ondina da Silva Peruzzo
//- Maria Silva Mourão
//- Maruzania Soares Dias
//- Rosa Eliza da Silva
//- Eduardo Augusto Galindo de Lima
//- Francisco Glenio de Almeida
//- Wellington Heleno da Silva

-
  var membros = [
    {
      "ativo": false,
      "grupo":     "psicoterapêutico",
      "avatar":    "eliana-massih.jpg",
      "masculino": false,
      "slug":      "eliana-massih",
      "nome":      "Eliana Massih",
      "titulo":    "XXXXX",
      "CRP":       "XX/XXXX",
      "descricao": "XXXX",
      "areas": [
        "XXX",
        "XXX",
        "XXX",
        "XXX"
      ]
    },
    {
      "ativo": false,
      "grupo":     "psicoterapêutico",
      "avatar":    "suzana-carvalho.jpg",
      "masculino": false,
      "slug":      "suzana-carvalho",
      "nome":      "Suzana Carvalho",
      "titulo":    "XXXXX",
      "CRP":       "XX/XXXX",
      "descricao": "XXXX",
      "areas": [
        "XXX",
        "XXX",
        "XXX",
        "XXX"
      ]
    },
    {
      "ativo": true,
      "grupo":     "administrativo",
      "avatar":    "paulo-sergio-frederico.jpg",
      "masculino": true,
      "slug":      "paulo-sergio-frederico",
      "nome":      "Paulo Sérgio Frederico",
      "titulo":    "Secretário",
      "descricao": "Inserir descrição aqui",
      "areas": [
        "Organização dos eventos",
        "XXX",
        "XXX",
        "XXX"
      ]
    },
    {
      "ativo": true,
      "grupo":     "psicoterapêutico",
      "avatar":    "flavia-moreira-ribeiro.jpg",
      "masculino": false,
      "slug":      "flavia-moreira-ribeiro",
      "nome":      "Flávia Moreira Ribeiro",
      "titulo":    "Psicóloga Clínica",
      "CRP":       "XX/XXXX",
      "descricao": "XXXX",
      "areas": [
        "XXX",
        "XXX",
        "XXX",
        "XXX"
      ]
    },
    {
      "ativo": true,
      "grupo":     "psicoterapêutico",
      "avatar":    "eduardo-augusto-galindo-de-lima.jpg",
      "masculino": true,
      "slug":      "eduardo-augusto-galindo-de-lima",
      "nome":      "Eduardo Augusto Galindo de Lima",
      "titulo":    "Psicólogo Clínico",
      "CRP":       "06/82462",
      "descricao": "especialista em Psicoterapia Breve",
      "areas": [
        "psicoterapia de adultos",
        "grupos e casal",
        "workshop",
        "assessorias de grupos e palestras"
      ]
    },
    {
      "ativo": true,
      "grupo":     "psicoterapêutico",
      "avatar":    "enio-brito-pinto.jpg",
      "masculino": true,
      "slug":      "enio-brito-pinto",
      "nome":      "Ênio Brito Pinto",
      "titulo":    "Psicólogo",
      "CRP":       "06/14675-7",
      "descricao": "gestalt-terapeuta, psicopedagogo, escritor, professor, mestre e doutor em Ciências da Religião e pós-doutor em Psicologia Clínica pela PUC/SP. Autor, dentre outros, do livro “Os Padres em Terapia: Esclarecendo singularidades” (Editora Ideias e Letras, 2012).",
      "areas": [
      "psicoterapia individual",
      "psicoterapia de grupo",
      "sexualidade",
      "coordenação de grupos de reflexão",
      "cordenação de oficinas de convívio e de criatividade"
    ]
  },
    {
      "ativo": true,
      "avatar":    "lillian-maria-penteado-de-arruda-zamith.jpg",
      "grupo":     "psicoterapêutico",
      "masculino": false,
      "slug":      "lillian-maria-penteado-de-arruda-zamith",
      "nome":      "Lillian Maria Penteado de Arruda Zamith",
      "titulo":    "Psicóloga clínica e Hospitalar",
      "CRP":       "06/35767-8",
      "descricao": "Especialista em Psicologia corporal pelo Instituto Sedes Sapientiae. Aperfeiçoamento em Psicologia Winnicotiana do Amadurecimento. TCC – Terapia Cognitiva Comportamental.",
      "areas": [
        "Psicoterapia individual",
        "casais",
        "grupos",
        "vivências",
        "cursos",
        "palestras"
      ]
    },
    {
      "ativo": true,
      "grupo":     "psicoespiritual",
      "avatar":    "joao-edenio-reis-valle.jpg",
      "masculino": true,
      "slug":      "joao-edenio-reis-valle",
      "nome":      "João Edênio Reis Valle",
      "titulo":    "Doutor em Psicologia",
      "descricao": "Graduação em Psicologia pelo Instituto de Psicologia da pontifícia Universidade Salesiana (Roma); doutorado no Instituto de Psicologia da Universidade Salesiana de Roma e na Bélgica. De volta ao Brasil trabalhou em vários setores da PUC-SP e deu início a atividades de assessoria e direção nas principais organizações da Igreja católica no Brasil e na América Latina. É autor de muitos livros e artigos na área de Psicologia, Educação, Vida Religiosa e Pastoral.",
      "areas": [
        "detalhar",
        "detalhar",
        "detalhar",
        "detalhar"
      ]
    },
    {
      "ativo": true,
      "grupo":     "psicanalítico",
      "avatar":    "francisco-glenio-de-almeida.jpg",
      "masculino": true,
      "slug":      "francisco-glenio-de-almeida",
      "nome":      "Francisco Glenio de Almeida",
      "titulo":    "Psicoterapeuta",
      "CRP":       "",
      "descricao": "Formado em filosofia (Unifai), Teologia (N. Sra. Assunção), Aconselhamento e Orientação familiar. Pós-graduado em Psicoterapia Psicanalitica (Cepsi-Unip).",
      "areas": [
        "atendimento individual",
        "atendimento familiar",
        "atendimento de casais",
        "psicoterapia psicanalítica"
      ]
    },
    {
      "ativo": true,
      "grupo":     "psicoterapêutico",
      "avatar":    "lourdes-degrandis.jpg",
      "masculino": false,
      "slug":      "lourdes-degrandis",
      "nome":      "Lourdes Degrandis",
      "titulo":    "Psicóloga Clínica",
      "CRP":       "06/35768-6",
      "descricao": "Psicóloga Clínica com especialização em Psicoterapia Corporal pelo Instituto Sedes Sapientiae, Psicossomática pelo Instituto Sedes Sapientiae, EMDR (Dessensibilizarão e Sensibilização através de movimentos Oculares) pela Sociedade Brasileira e Libero Americana de EMDR, Neuropsicologia pelo CDN - Centro de Diagnóstico Neuropsicológico - UNIFSP e curso do MIGS (Modelo de Intervenção Global em Sexologia) PUC-PR.",
      "areas": [
        "atendimento de adultos (individual e grupos)",
        "assessoria a instituições",
        "workshop",
        "cursos",
        "palestras",
        "avaliação neuropsicológica",
        "curso do MIGS (Modelo de Intervenção Global em Sexologia)"
      ],
      "notas": [
        "Artigo na Revista Convergência",
        "Trabalho sobre Gerações- Formadores - PUC-SP e ITESP",
        "Formadores - OSIB",
        "Formadores - CRB-SP",
        "Juninter - CRB-SP"
      ]
    },
    {
      "ativo": false,
      "grupo":     "psicoterapêutico",
      "avatar":    "",
      "masculino": false,
      "slug":      "maria-da-conceicao-coelho-e-silva",
      "nome":      "Maria da Conceição Coêlho e Silva",
      "titulo":    "Psicóloga Clínica",
      "CRP":       "06/98755",
      "descricao": "Especialização em Cuidados Primários em Saúde Mental – UNIFESP- SP; Especialização Psicopatologia e Saúde Publica- Faculdade de Saúde Pública – USP; Supervisora Educacional do Programa Paineira- Fundação Julita; Supervisão de atendimentos psicológico – Clinica Espaço Lótus.",
      "areas": [
        "psicoterapia individual",
        "orientação de pais",
        "supervisão de casos clínicos",
        "atendimento ambulatorial pelo SUS",
        "Ambulatório Geral Saúde da Família",
        "assessoria em escolas",
        "ONGS",
        "paróquias"
      ]
    },
    {
      "ativo": false,
      "grupo":     "psicoterapêutico",
      "avatar":    "",
      "masculino": false,
      "slug":      "maria-de-fatima-naves",
      "nome":      "Mária de Fátima Naves",
      "titulo":    "Psicóloga Clínica",
      "CRP":       "06/40520-0",
      "descricao": "Especialização em Análise Transacional, Psicodrama e Psica-nálise das Configurações Vinculares",
      "areas": [
        "psicoterapia Individual",
        "psicoterapia de grupo",
        "coordenação de grupos de reflexão em Psicanálise dos Vínculos",
        "integração grupal"
      ]
    },
    {
      "ativo": true,
      "grupo":     "psicoterapêutico",
      "avatar":    "maria-de-fatima-rolim-rosa.jpg",
      "masculino": false,
      "slug":      "maria-de-fatima-rolim-rosa",
      "nome":      "Maria de Fátima Rolim Rosa",
      "titulo":    "Psicóloga Clínica",
      "CRP":       "06/34959-7",
      "descricao": "Especialização e aperfeiçoamento em Gestalt-Terapia, Psicologia Junguiana e Corporal, Psicologia Winnicotiana e Psicanálise das Configurações Vinculares",
      "areas": [
        "psicoterapia Individual",
        "psicoterapia de grupal",
        "workshop",
        "assessoria a instituições",
        "acompanhamento de grupos",
        "cursos",
        "palestras"
      ]
    },
    {
      "ativo": true,
      "grupo":     "psicoterapêutico",
      "avatar":    "maria-ondina-da-silva-peruzzo.jpg",
      "masculino": false,
      "slug":      "maria-ondina-da-silva-peruzzo",
      "nome":      "Maria Ondina da Silva Peruzzo",
      "titulo":    "Especialista em Psicologia Clínica",
      "CRP":       "06/23032",
      "descricao": "Especialização em coordenação de grupos e grupoterapia, membro efetivo do NESME. Especialização em Rorscharch e outras técnicas projetivas; membro efetivo da Sociedade Brasileira de Rorschach",
      "areas": [
        "psicoterapia individual",
        "psicoterapia de grupo",
        "psicodiagnóstico individual",
        "psicodiagnóstico de grupo",
        "assessoria de grupos em instituições"
      ]
    },
    {
      "ativo": true,
      "grupo":     "psicoterapêutico",
      "avatar":    "maria-silva-mourao.jpg",
      "masculino": false,
      "slug":      "maria-silva-mourao",
      "nome":      "Maria Silva Mourão",
      "titulo":    "Especialista em Psicologia Clínica",
      "CRP":       "06/16774",
      "descricao": "Mestre em Psicologia Clínica pela PUC-SP; especialista em espiritualidade pela Gregoriana – Roma; artigos publicados na área da Vida Religiosa Consagrada. Foi membro da Equipe de Reflexão dos psicólogos da CRB Nacional por quatorze anos",
      "areas": [
        "psicoterapia individual",
        "psicoterapia de grupo",
        "assessorias a congregações religiosas"
      ]
    },
    {
      "ativo": true,
      "grupo":     "psicoterapêutico",
      "avatar":    "",
      "masculino": false,
      "slug":      "maruzania-soares-dias",
      "nome":      "Maruzânia Soares Dias",
      "titulo":    "Psicanalista / Psicóloga Clinica",
      "CRP":       "06/53301-7",
      "descricao": "Mestre em Ciências da Religião PUC-SP; graduada em Psicologia pela PUC-SP; membro da IF-EPFCL – Fórum SP (Internacional dos Fóruns – Escola de Psicanálise dos Fóruns do Campo Lacaniano – Fórum São Paulo)",
      "areas": [
        "atendimento clínico",
        "assessorias a grupos e instituições",
        "conferências"
      ]
    },
    {
      "ativo": true,
      "grupo":     "psicoterapêutico",
      "avatar":    "rosa-eliza-da-silva.jpg",
      "masculino": false,
      "slug":      "rosa-eliza-da-silva",
      "nome":      "Rosa Eliza da Silva",
      "titulo":    "Especialista em Psicologia clínica",
      "CRP":       "06/15430",
      "descricao": "Psicanalista com formação no Sedes Sapientiae. Mestre em Ciências da Religião pela PUC-SP. Membro da Associação Brasileira de Rorschach (ASBRO). Membro da Associação Brasilei-ra de Orientação Profissional (ABOP)",
      "areas": [
        "psicodiagnóstico",
        "psicoterapia psicanalítica individual",
        "orientação Vocacional/Profissional",
        "orientação de Carreira"
      ]
    },
    {
      "ativo": false,
      "grupo":     "psicoterapêutico",
      "avatar":    "",
      "masculino": false,
      "slug":      "tereza-lair-martins",
      "nome":      "Tereza Lair Martins",
      "titulo":    "Psicóloga Clínica",
      "CRP":       "06/35857-0",
      "descricao": "Formação em Bionergética pela Sobab e Instituto de Alexander Lowen (E.U.A); Gestalt-terapia adultos e infantil, Psicodrama – escola paulista; Hipnose Ericksonicema pelo Hospital do Servidor Público.",
      "areas": [
        "atendimento clínico",
        "assessoria em Congregações religiosas",
        "membro da equipe vocacional dos Irmãos de Santa Cruz"
      ]
    },

    {
      "ativo": true,
      "grupo":     "psicoterapêutico",
      "avatar":    "wellington-heleno-da-silva.jpg",
      "masculino": true,
      "slug":      "wellington-heleno-da-silva",
      "nome":      "Wellington Heleno da Silva",
      "titulo":    "Psicólogo Clínico",
      "CRP":       "06/10292",
      "descricao": "Especialização em Psicoterapia Psicanalítica – CEPSI/UNIP; MBA em Gestão de Pessoas e Liderança – BSP (Business School of São Paulo); Graduado em Teologia, Instituto Pio XI; Curso de Filosofia no Instituto Filosófico do Mosteiro de São Bento; Curso de Psicologia de Grupo e Aconselhamento de Adolescentes e Jovens. Membro efetivo do Instituto Acolher – ITA",
      "areas": [
        "psicoterapia individual",
        "psicoterapia de grupo (adolescentes, adultos e casais)",
        "grupos psicanalíticos de reflexão e discussões",
        "palestras e assessorias de formação para grupos e instituições"
      ]
    },
    {
      "ativo": true,
      "grupo":     "psicoterapêutico",
      "avatar":    "wojciech-mittelstaedt-adalberto.jpg",
      "masculino": true,
      "slug":      "wojciech-mittelstaedt-adalberto",
      "nome":      "Wojciech Mittelstaedt (Adalberto)",
      "titulo":    "Psicopedagogo/Psicólogo Clínico",
      "CRP":       "06/99753",
      "descricao": "Padre da Congregação do Verbo Divino; Doutor em Ciências da Religião (PUC/SP) com enfoque em Psicologia da Religião; Mestre em Teologia pela Universidade KUL, na Polônia; graduado em Psicologia (Universidade São Marcos – SP); especializado em Psicopedagogia; aperfeiçoamento em tratamento da Dependência Química pela UNIFESP; Membro do Instituto Acolher – ITA",
      "areas": [
      "psicologia clínica",
      "assessorias",
      "palestras",
      "formação religiosa",
      "espiritualidade sacerdotal",
      "renovação religiosa",
      "tratamento dos vícios"
      ]
    }
  ];

