//- Imagens do membros devem ser quadradas e com tamanho superior a 400x400
//- Grupos:
//-   psicoespiritual
//-   psicoterapêutico
//-   psicanalítico
-
  var membros = [
    {
      "grupo":     "psicoterapêutico",
      "avatar":    "img/eduardo-augusto-galindo-de-lima.jpg",
      "masculino": true,
      "slug":      "eduardo-augusto-galindo-de-lima",
      "nome":      "Eduardo Augusto Galindo de Lima",
      "titulo":    "Psicólogo Clínico",
      "CRP":       "06/82462",
      "descricao": "especialista em Psicoterapia Breve",
      "areas": [
        "psicoterapia de adultos",
        "grupos e casal",
        "workshop",
        "assessorias de grupos e palestras"
      ]
    },
    {
      "grupo":     "psicoterapêutico",
      "avatar":    "img/enio-brito-pinto.jpg",
      "masculino": true,
      "slug":      "enio-brito-pinto",
      "nome":      "Ênio Brito Pinto",
      "titulo":    "Psicólogo",
      "CRP":       "06/14675-7",
      "descricao": "gestalt-terapeuta, psicopedagogo, escritor, professor, mestre e doutor em Ciências da Religião e pós-doutor em Psicologia Clínica pela PUC/SP. Autor, dentre outros, do livro “Os Padres em Terapia: Esclarecendo singularidades” (Editora Ideias e Letras, 2012).",
      "areas": [
      "psicoterapia individual",
      "psicoterapia de grupo",
      "sexualidade",
      "coordenação de grupos de reflexão",
      "cordenação de oficinas de convívio e de criatividade"
    ]
  },
    {
      "avatar":    "",
      "grupo":     "psicoterapêutico",
      "masculino": false,
      "nome":      "Lilian Maria Penteado de Arruda Zamith",
      "titulo":    "Psicóloga clínica e Hospitalar",
      "CRP":       "06/35767-8",
      "descricao": "Especialista em Psicologia corporal pelo Instituto Sedes Sapientiae. Aperfeiçoamento em Psicologia Winnicotiana do Amadurecimento. TCC – Terapia Cognitiva Com-portamental.",
      "areas": [
        "Psicoterapia individual",
        "casais",
        "grupos",
        "vivências",
        "cursos",
        "palestras"
      ]
    },
    {
      "grupo":     "psicoespiritual",
      "avatar":    "img/edenio-valle.jpg",
      "masculino": true,
      "slug":      "edenio-valle",
      "nome":      "João Edênio Reis Valle",
      "titulo":    "Doutor em Psicologia",
      "CRP":       "",
      "descricao": "Graduação em Psicologia pelo Instituto de Psicologia da pontifícia Universidade Salesiana (Roma); doutorado no Instituto de Psicologia da Universidade Salesiana de Roma e na Bélgica. De volta ao Brasil trabalhou em vários setores da PUC-SP e deu início a atividades de assessoria e direção nas principais organizações da Igreja católica no Brasil e na América Latina. É autor de muitos livros e artigos na área de Psicologia, Educação, Vida Religiosa e Pastoral.",
      "areas": [
        "detalhar",
        "detalhar",
        "detalhar",
        "detalhar"
      ]
    },
    {
      "grupo":     "psicoterapêutico",
      "avatar":    "",
      "masculino": true,
      "slug":      "",
      "nome":      "",
      "titulo":    "",
      "CRP":       "",
      "descricao": "",
      "areas": [
        "",
        "",
        "",
        ""
      ]
    },
    {
      "grupo":     "psicoterapêutico",
      "avatar":    "",
      "masculino": true,
      "slug":      "",
      "nome":      "",
      "titulo":    "",
      "CRP":       "",
      "descricao": "",
      "areas": [
        "",
        "",
        "",
        ""
      ]
    },
    {
      "grupo":     "psicoterapêutico",
      "avatar":    "",
      "masculino": true,
      "slug":      "",
      "nome":      "",
      "titulo":    "",
      "CRP":       "",
      "descricao": "",
      "areas": [
        "",
        "",
        "",
        ""
      ]
    },
    {
      "grupo":     "psicoterapêutico",
      "avatar":    "",
      "masculino": true,
      "slug":      "",
      "nome":      "",
      "titulo":    "",
      "CRP":       "",
      "descricao": "",
      "areas": [
        "",
        "",
        "",
        ""
      ]
    },
    {
      "grupo":     "psicoterapêutico",
      "avatar":    "",
      "masculino": true,
      "slug":      "",
      "nome":      "",
      "titulo":    "",
      "CRP":       "",
      "descricao": "",
      "areas": [
        "",
        "",
        "",
        ""
      ]
    },
    {
      "grupo":     "psicoterapêutico",
      "avatar":    "",
      "masculino": true,
      "slug":      "",
      "nome":      "",
      "titulo":    "",
      "CRP":       "",
      "descricao": "",
      "areas": [
        "",
        "",
        "",
        ""
      ]
    },
    {
      "grupo":     "psicoterapêutico",
      "avatar":    "",
      "masculino": true,
      "slug":      "",
      "nome":      "",
      "titulo":    "",
      "CRP":       "",
      "descricao": "",
      "areas": [
        "",
        "",
        "",
        ""
      ]
    },
    {
      "grupo":     "psicoterapêutico",
      "avatar":    "",
      "masculino": true,
      "slug":      "",
      "nome":      "",
      "titulo":    "",
      "CRP":       "",
      "descricao": "",
      "areas": [
        "",
        "",
        "",
        ""
      ]
    },
    {
      "grupo":     "psicoterapêutico",
      "avatar":    "",
      "masculino": true,
      "slug":      "",
      "nome":      "",
      "titulo":    "",
      "CRP":       "",
      "descricao": "",
      "areas": [
        "",
        "",
        "",
        ""
      ]
    },
    {
      "grupo":     "psicoterapêutico",
      "avatar":    "",
      "masculino": true,
      "slug":      "",
      "nome":      "",
      "titulo":    "",
      "CRP":       "",
      "descricao": "",
      "areas": [
        "",
        "",
        "",
        ""
      ]
    }
  ];

