//- Menus exibidos em todas as telas
-
  var menus = [
    { "fa":"home",           "url":"index.html",                           "titulo":"Home" },
    { "fa":"diamond",        "url":"servicos.html",                        "titulo":"Serviços" },
    { "fa":"graduation-cap", "url":"cursos-e-assessorias.html",            "titulo":"Cursos" },
    { "fa":"file-text-o",    "url":"artigos.html",                         "titulo":"Artigos" },
    { "fa":"users",          "url":"associados.html",                      "titulo":"Associados" },
    { "fa":"university",     "url":"instituicao.html",                     "titulo":"Instituição" },
    { "fa":"address-book-o", "url":"membros.html",                         "titulo":"Membros" }
  ];

nav.cyan.darken-3.grad-nav(role="navigation")
  .container.nav-wrapper
    .brand-logo
      a(href="#")
        img.brand-logo(src="img/ita-logo-mono-2.svg")

    //- Menus para desktop
    ul.right.hide-on-med-and-down
      each menu in menus
        li
          a(href=menu.url)= menu.titulo

    //- Menus para celular e tablet
    ul#nav-mobile.sidenav
      li.mobile-profile
        img.responsive-img(src="img/ita-logo_1024x1024.svg")
      each menu in menus
        li
          a(href=menu.url)
            i.fa-menu-icon(class="fa fa-lg fa-"+menu.fa)
            span= menu.titulo

    a.sidenav-trigger(href="#",data-target="nav-mobile")
      i.material-icons menu

