//- Menus exibidos em todas as telas
-
  var menus = [
    { "url":"index.html",                           "titulo":"Home" },
    { "url":"servicos.html",                        "titulo":"Serviços" },
    { "url":"cursos-e-assessorias.html",            "titulo":"Cursos" },
    { "url":"associados.html",                      "titulo":"Associados" },
    { "url":"instituicao.html",                     "titulo":"Instituição" },
    { "url":"membros.html",                         "titulo":"Membros" }
  ];

nav.cyan.darken-3.grad-nav(role="navigation")
  .container.nav-wrapper
    a.brand-logo(href="#") Instituto Acolher

    //- Menus para desktop
    ul.right.hide-on-med-and-down
      each menu in menus
        li
          a(href=menu.url)= menu.titulo

    //- Menus para celular e tablet
    ul#nav-mobile.sidenav
      each menu in menus
        li
          a(href=menu.url)= menu.titulo

    a.sidenav-trigger(href="#",data-target="nav-mobile")
      i.material-icons menu

