include vars

-
  var redes = [
    { "icon": "facebook.svg",  "url":"https://www.facebook.com/institutoacolher.ita", "nome":"Facebook" },
    { "icon": "instagram.svg", "url":"https://www.instagram.com/ita_instituto_acolher/", "nome":"Instagram" }
    //- { "icon": "youtube.svg",   "url":"xxx", "nome":"Youtube" }
  ];

//- h3.white-text Redes sociais

.redes-sociais
  each rede in redes
    .rede-social
      a(href=rede.url,target="blank")
        img.rede-social-icon(src=imgPath+rede.icon,alt=rede.nome)


