include vars

-
  var redes = [
    { "icon": "facebook.svg",  "url":"xxx", "nome":"Facebook" },
    { "icon": "instagram.svg", "url":"xxx", "nome":"Instagram" },
    { "icon": "youtube.svg",   "url":"xxx", "nome":"Youtube" }
  ];

//- h3.white-text Redes sociais

.redes-sociais
  each rede in redes
    .rede-social
      a(href=rede.url)
        img.rede-social-icon(src=imgPath+rede.icon,alt=rede.nome)


