- var lang = "pt-BR"
- var cssPath = "css/"
- var imgPath = "img/"
- var jsPath = "js/"
- var linksUteis = "Links úteis"
- var contato = "Contato"
- var verNoMapa = "Ver no mapa"
- var botaoAcessar = "Acessar"
