- var lang = "pt-BR"
- var cssPath = "css/"
- var imgPath = "img/"
- var jsPath = "js/"
- var linksUteis = "Links úteis"
- var contato = "Contato"
- var verNoMapa = "Ver no mapa"
- var botaoAcessar = "Acessar"
- var title = "ITA - Instituto Acolher"
- var description = "O Instituto Acolher - Integrar para transcender. 21 anos de experiência no atendimento psicológico de padres e religiosos(as) consagrados(as). O objetivo principal do ITA abrange, além da psicoterapia e aconselhamento, outras atividades, tais como prestação de assessorias e formação. Além disto, nos propomos a organizar e supervisionar atividades destinadas à formação de seus próprios membros e de outros profissionais interessados em seu aprimoramento técnico-profissional e teórico."

- var ogImage = "https://institutoacolher.github.io/site/img/ita-logo_1080x1080.png"
- var ogImageWidth = "1080"
- var ogImageHeight = "1080"
- var ogUrl = "https://institutoacolher.github.io/site/index.html"
