extends componentes/layout.pug
block main
  -
    var atividade = {
      "ano": "2022",
      "tipo": "grupo-de-estudo",
      "visivel": true,
      "online": false,
      "titulo": "FIXME",
      "objetivo": "FIXME",
      "dataiso": "2022-10-19",
      "inscritos": 0,
      "assessor_slugs": [],
      "modulos": [
      ]
    }
  include componentes/detalhes_da_atividade
