extends componentes/layout.pug

block main
  -
    var atividades = [
      {
        "mes": "Fevereiro",
        "eventos": [ { "dia": "11 – Sexta" } ]
      },
      {
        "mes": "Março",
        "eventos": [ { "dia": "11 – Sexta" } ]
      },
      {
        "mes": "Abril",
        "eventos": [ { "dia": "08 – Sexta" } ]
      },
      {
        "mes": "Maio",
        "eventos": [ { "dia": "13 – Sexta" } ]
      },
      {
        "mes": "Junho",
        "eventos": [ { "dia": "10 – Sexta" } ]
      },
      {
        "mes": "Agosto",
        "eventos": [ { "dia": "12 – Sexta" } ]
      },
      {
        "mes": "Setembro",
        "eventos": [ { "dia": "09 – Sexta" } ]
      },
      {
        "mes": "Outubro",
        "eventos": [ { "dia": "14 – Sexta" } ]
      },
      {
        "mes": "Novembro",
        "eventos": [ { "dia": "11 – Sexta" } ]
      },
      {
        "mes": "Dezembro",
        "eventos": [ { "dia": "09 – Sexta" } ]
      }
    ];

  h1 Grupo de Estudos
  for atividade in atividades
    h2=atividade.mes
    for evento in atividade.eventos
      p
        strong= evento.descricao || "Grupo de estudos"
        br
        i.grey-text= evento.dia + " das " + (evento.horario || "14h00 as 16h00")
        if evento.online
          br
          strong.red-text Evento Online


