extends componentes/layout.pug

block main
  - var slug = "edenio-valle"
  include componentes/detalhes_do_membro

  h3 Citações
  figure
    blockquote(cite="https://j.pucsp.br/noticia/dom-paulo-o-homem-livre-e-seu-legado-puc-sp")
      p.
        “É numa universidade secularizada que temos que pensar o católico da PUC-SP. Isso é o que Dom Paulo percebia quando chegou aqui e o que ele perceberia e assumiria como desafio hoje”
    figcaption.
      Pe. Edênio dos Reis Valle – pós em Ciências da Religião e ex-vice-reitor Comunitário (1976-1984)

  h3 Vídeos
  h4 TVPUC
    iframe(width="100%",src="https://www.youtube.com/embed/jw3q5DVwGbA",allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture",allowfullscreen)
