extends componentes/layout.pug
block main
  pre
    |./2022-06-13_grupo_de_estudo.pug-    var atividade = {
    |./2022-06-13_grupo_de_estudo.pug-      "ano": "2022",
    |./2022-06-13_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./2022-06-13_grupo_de_estudo.pug-      "visivel": true,
    |./2022-06-13_grupo_de_estudo.pug-      "online": false,
    |./2022-06-13_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./2022-06-13_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./2022-06-13_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./2022-06-13_grupo_de_estudo.pug-      "inscritos": 0,
    |./2022-06-13_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./2022-06-13_grupo_de_estudo.pug-      "modulos": [
    |./2022-06-13_grupo_de_estudo.pug-      ]
    |./2022-09-09_grupo_de_estudo.pug-    var atividade = {
    |./2022-09-09_grupo_de_estudo.pug-      "ano": "2022",
    |./2022-09-09_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./2022-09-09_grupo_de_estudo.pug-      "visivel": true,
    |./2022-09-09_grupo_de_estudo.pug-      "online": false,
    |./2022-09-09_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./2022-09-09_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./2022-09-09_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./2022-09-09_grupo_de_estudo.pug-      "inscritos": 0,
    |./2022-09-09_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./2022-09-09_grupo_de_estudo.pug-      "modulos": [
    |./2022-09-09_grupo_de_estudo.pug-      ]
    |./atividades_grupo_de_estudos.pug-        i.grey-text= evento.dia + " (" + evento.sem + ") das " + (evento.horario || "14h00 as 16h00")
    |./atividades_grupo_de_estudos.pug-        if evento.online
    |./atividades_grupo_de_estudos.pug-          br
    |./atividades_grupo_de_estudos.pug-          strong.red-text Evento Online
    |./atividades_grupo_de_estudos.pug-      a.btn(target="_blank",href="https://www.google.com/calendar/render?action=TEMPLATE&text="+(evento.descricao || "Grupo de estudos")+"&details=Descri%C3%A7%C3%A3o&location=Sede+do+ITA&dates=2022"+atividade.mm+evento.dia+"T1400Z%2F2022"+atividade.mm+evento.dia+"T160000Z") Adicionar ao Google Agenda
    |./atividades_grupo_de_estudos.pug:      p.red-text FIXME: O botão acima é um exemplo de uso para testarmos se faz sentido usar. Os dados são só para exemplo
    |./atividades_grupo_de_estudos.pug-
    |./atividades_grupo_de_estudos.pug-      //- GrCalendar
    |./atividades_grupo_de_estudos.pug-      //- https://decomaan.github.io/google-calendar-link-generator/
    |./atividades_grupo_de_estudos.pug-      //- https://github.com/InteractionDesignFoundation/add-event-to-calendar-docs/blob/main/services/google.md
    |./atividades_grupo_de_estudos.pug-      //- https://github.com/geraldolsribeiro/add-event-to-calendar-docs
    |./2022-11-11_grupo_de_estudo.pug-    var atividade = {
    |./2022-11-11_grupo_de_estudo.pug-      "ano": "2022",
    |./2022-11-11_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./2022-11-11_grupo_de_estudo.pug-      "visivel": true,
    |./2022-11-11_grupo_de_estudo.pug-      "online": false,
    |./2022-11-11_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./2022-11-11_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./2022-11-11_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./2022-11-11_grupo_de_estudo.pug-      "inscritos": 0,
    |./2022-11-11_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./2022-11-11_grupo_de_estudo.pug-      "modulos": [
    |./2022-11-11_grupo_de_estudo.pug-      ]
    |./2022-05-13_grupo_de_estudo.pug-    var atividade = {
    |./2022-05-13_grupo_de_estudo.pug-      "ano": "2022",
    |./2022-05-13_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./2022-05-13_grupo_de_estudo.pug-      "visivel": true,
    |./2022-05-13_grupo_de_estudo.pug-      "online": false,
    |./2022-05-13_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./2022-05-13_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./2022-05-13_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./2022-05-13_grupo_de_estudo.pug-      "inscritos": 0,
    |./2022-05-13_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./2022-05-13_grupo_de_estudo.pug-      "modulos": [
    |./2022-05-13_grupo_de_estudo.pug-      ]
    |./2022-00-00_modelo.pug-    var atividade = {
    |./2022-00-00_modelo.pug-      "ano": "2022",
    |./2022-00-00_modelo.pug-      "tipo": "grupo-de-estudo",
    |./2022-00-00_modelo.pug-      "visivel": true,
    |./2022-00-00_modelo.pug-      "online": false,
    |./2022-00-00_modelo.pug:      "titulo": "FIXME",
    |./2022-00-00_modelo.pug:      "objetivo": "FIXME",
    |./2022-00-00_modelo.pug-      "dataiso": "2022-10-19",
    |./2022-00-00_modelo.pug-      "inscritos": 0,
    |./2022-00-00_modelo.pug-      "assessor_slugs": [],
    |./2022-00-00_modelo.pug-      "modulos": [
    |./2022-00-00_modelo.pug-      ]
    |./atividades_curso.pug-extends componentes/layout.pug
    |./atividades_curso.pug-
    |./atividades_curso.pug-block main
    |./atividades_curso.pug-  h1 Cursos
    |./atividades_curso.pug-
    |./atividades_curso.pug:  p FIXME adaptar cursos-e-assessorias.html
    |./2022-03-11_grupo_de_estudo.pug-    var atividade = {
    |./2022-03-11_grupo_de_estudo.pug-      "ano": "2022",
    |./2022-03-11_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./2022-03-11_grupo_de_estudo.pug-      "visivel": true,
    |./2022-03-11_grupo_de_estudo.pug-      "online": false,
    |./2022-03-11_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./2022-03-11_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./2022-03-11_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./2022-03-11_grupo_de_estudo.pug-      "inscritos": 0,
    |./2022-03-11_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./2022-03-11_grupo_de_estudo.pug-      "modulos": [
    |./2022-03-11_grupo_de_estudo.pug-      ]
    |./2022-04-08_grupo_de_estudo.pug-    var atividade = {
    |./2022-04-08_grupo_de_estudo.pug-      "ano": "2022",
    |./2022-04-08_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./2022-04-08_grupo_de_estudo.pug-      "visivel": true,
    |./2022-04-08_grupo_de_estudo.pug-      "online": false,
    |./2022-04-08_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./2022-04-08_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./2022-04-08_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./2022-04-08_grupo_de_estudo.pug-      "inscritos": 0,
    |./2022-04-08_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./2022-04-08_grupo_de_estudo.pug-      "modulos": [
    |./2022-04-08_grupo_de_estudo.pug-      ]
    |./2022-08-12_grupo_de_estudo.pug-    var atividade = {
    |./2022-08-12_grupo_de_estudo.pug-      "ano": "2022",
    |./2022-08-12_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./2022-08-12_grupo_de_estudo.pug-      "visivel": true,
    |./2022-08-12_grupo_de_estudo.pug-      "online": false,
    |./2022-08-12_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./2022-08-12_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./2022-08-12_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./2022-08-12_grupo_de_estudo.pug-      "inscritos": 0,
    |./2022-08-12_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./2022-08-12_grupo_de_estudo.pug-      "modulos": [
    |./2022-08-12_grupo_de_estudo.pug-      ]
    |./2022-10-14_grupo_de_estudo.pug-    var atividade = {
    |./2022-10-14_grupo_de_estudo.pug-      "ano": "2022",
    |./2022-10-14_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./2022-10-14_grupo_de_estudo.pug-      "visivel": true,
    |./2022-10-14_grupo_de_estudo.pug-      "online": false,
    |./2022-10-14_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./2022-10-14_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./2022-10-14_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./2022-10-14_grupo_de_estudo.pug-      "inscritos": 0,
    |./2022-10-14_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./2022-10-14_grupo_de_estudo.pug-      "modulos": [
    |./2022-10-14_grupo_de_estudo.pug-      ]
    |./2022-12-19_grupo_de_estudo.pug-    var atividade = {
    |./2022-12-19_grupo_de_estudo.pug-      "ano": "2022",
    |./2022-12-19_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./2022-12-19_grupo_de_estudo.pug-      "visivel": true,
    |./2022-12-19_grupo_de_estudo.pug-      "online": false,
    |./2022-12-19_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./2022-12-19_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./2022-12-19_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./2022-12-19_grupo_de_estudo.pug-      "inscritos": 0,
    |./2022-12-19_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./2022-12-19_grupo_de_estudo.pug-      "modulos": [
    |./2022-12-19_grupo_de_estudo.pug-      ]
    |./2022-02-11_grupo_de_estudo.pug-    var atividade = {
    |./2022-02-11_grupo_de_estudo.pug-      "ano": "2022",
    |./2022-02-11_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./2022-02-11_grupo_de_estudo.pug-      "visivel": true,
    |./2022-02-11_grupo_de_estudo.pug-      "online": false,
    |./2022-02-11_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./2022-02-11_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./2022-02-11_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./2022-02-11_grupo_de_estudo.pug-      "inscritos": 0,
    |./2022-02-11_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./2022-02-11_grupo_de_estudo.pug-      "modulos": [
    |./2022-02-11_grupo_de_estudo.pug-      ]
    |./es/joao-edenio-reis-valle.pug-      Pe. Edênio dos Reis Valle – pós em Ciências da Religião e ex-vice-reitor Comunitário (1976-1984)
    |./es/joao-edenio-reis-valle.pug-
    |./es/joao-edenio-reis-valle.pug-  h3 Vídeos
    |./es/joao-edenio-reis-valle.pug-  h4 TVPUC
    |./es/joao-edenio-reis-valle.pug-    iframe(width="100%",src="https://www.youtube.com/embed/jw3q5DVwGbA",allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture",allowfullscreen)
    |./es/joao-edenio-reis-valle.pug:    .hide FIXME Vídeo responsivo
    |./es/textos/artigos.md-
    |./es/textos/artigos.md-Definir
    |./es/textos/artigos.md-
    |./es/textos/artigos.md-## Dicas de Leitura
    |./es/textos/artigos.md-
    |./es/textos/artigos.md:FIXME Definir
    |./es/textos/acolhida.md-Nessa sessão de escuta clínica é realizado encaminhamento para acompanhamento
    |./es/textos/acolhida.md-mais adequado a cada situação. Após as entrevistas preliminares, a pessoa
    |./es/textos/acolhida.md-é encaminhada para um terapeuta que passa a assumir a responsabilidade por todo
    |./es/textos/acolhida.md-o acompanhamento.
    |./es/textos/acolhida.md-
    |./es/textos/acolhida.md:FIXME: traduzir
    |./es/textos/psicoterapia-grupal.md-experiencia de la terapia de grupo amplía la comprensión de los fenómenos de
    |./es/textos/psicoterapia-grupal.md-intersubjetividad dentro y fuera del espacio terapéutico. El objetivo es que la
    |./es/textos/psicoterapia-grupal.md-inversión en la comprensión de los aspectos internos, interpersonales
    |./es/textos/psicoterapia-grupal.md-y trans-subjetivos promueva la mejora de los vínculos comunitarios.
    |./es/textos/psicoterapia-grupal.md-
    |./es/textos/psicoterapia-grupal.md:FIXME: Incluir tradução
    |./es/textos/paulo-sergio-frederico.md-# paulo-sergio-frederico
    |./es/textos/paulo-sergio-frederico.md-
    |./es/textos/paulo-sergio-frederico.md:FIXME Descrever o profissional aqui.
    |./es/textos/integracao-psicoespiritual.md-terapêutico das pessoas consagradas (religiosas, padres e leigos) que buscam
    |./es/textos/integracao-psicoespiritual.md-resgatar o sentido da sua vida. Nosso programa de integração psicoespiritual
    |./es/textos/integracao-psicoespiritual.md-ajuda na avaliação da realização vocacional e na revisão do itinerário
    |./es/textos/integracao-psicoespiritual.md-espiritual.
    |./es/textos/integracao-psicoespiritual.md-
    |./es/textos/integracao-psicoespiritual.md:FIXME: traduzir
    |./textos/artigos.md-# Artigos
    |./textos/artigos.md-
    |./textos/artigos.md-## Estudos
    |./textos/artigos.md-
    |./textos/artigos.md:FIXME Definir
    |./textos/artigos.md-
    |./textos/artigos.md-## Reflexões
    |./textos/artigos.md-
    |./textos/artigos.md:FIXME Definir
    |./textos/artigos.md-
    |./textos/artigos.md-## Dicas de Leitura
    |./textos/artigos.md-
    |./textos/artigos.md:FIXME Definir
