extends componentes/layout.pug
block main
  pre
    |./2022-06-13_grupo_de_estudo.pug-    var atividade = {
    |./2022-06-13_grupo_de_estudo.pug-      "ano": "2022",
    |./2022-06-13_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./2022-06-13_grupo_de_estudo.pug-      "visivel": true,
    |./2022-06-13_grupo_de_estudo.pug-      "online": false,
    |./2022-06-13_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./2022-06-13_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./2022-06-13_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./2022-06-13_grupo_de_estudo.pug-      "inscritos": 0,
    |./2022-06-13_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./2022-06-13_grupo_de_estudo.pug-      "modulos": [
    |./2022-06-13_grupo_de_estudo.pug-      ]
    |./2022-09-09_grupo_de_estudo.pug-    var atividade = {
    |./2022-09-09_grupo_de_estudo.pug-      "ano": "2022",
    |./2022-09-09_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./2022-09-09_grupo_de_estudo.pug-      "visivel": true,
    |./2022-09-09_grupo_de_estudo.pug-      "online": false,
    |./2022-09-09_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./2022-09-09_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./2022-09-09_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./2022-09-09_grupo_de_estudo.pug-      "inscritos": 0,
    |./2022-09-09_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./2022-09-09_grupo_de_estudo.pug-      "modulos": [
    |./2022-09-09_grupo_de_estudo.pug-      ]
    |./2022-11-11_grupo_de_estudo.pug-    var atividade = {
    |./2022-11-11_grupo_de_estudo.pug-      "ano": "2022",
    |./2022-11-11_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./2022-11-11_grupo_de_estudo.pug-      "visivel": true,
    |./2022-11-11_grupo_de_estudo.pug-      "online": false,
    |./2022-11-11_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./2022-11-11_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./2022-11-11_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./2022-11-11_grupo_de_estudo.pug-      "inscritos": 0,
    |./2022-11-11_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./2022-11-11_grupo_de_estudo.pug-      "modulos": [
    |./2022-11-11_grupo_de_estudo.pug-      ]
    |./2022-05-13_grupo_de_estudo.pug-    var atividade = {
    |./2022-05-13_grupo_de_estudo.pug-      "ano": "2022",
    |./2022-05-13_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./2022-05-13_grupo_de_estudo.pug-      "visivel": true,
    |./2022-05-13_grupo_de_estudo.pug-      "online": false,
    |./2022-05-13_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./2022-05-13_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./2022-05-13_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./2022-05-13_grupo_de_estudo.pug-      "inscritos": 0,
    |./2022-05-13_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./2022-05-13_grupo_de_estudo.pug-      "modulos": [
    |./2022-05-13_grupo_de_estudo.pug-      ]
    |./2022-00-00_modelo.pug-    var atividade = {
    |./2022-00-00_modelo.pug-      "ano": "2022",
    |./2022-00-00_modelo.pug-      "tipo": "grupo-de-estudo",
    |./2022-00-00_modelo.pug-      "visivel": true,
    |./2022-00-00_modelo.pug-      "online": false,
    |./2022-00-00_modelo.pug:      "titulo": "FIXME",
    |./2022-00-00_modelo.pug:      "objetivo": "FIXME",
    |./2022-00-00_modelo.pug-      "dataiso": "2022-10-19",
    |./2022-00-00_modelo.pug-      "inscritos": 0,
    |./2022-00-00_modelo.pug-      "assessor_slugs": [],
    |./2022-00-00_modelo.pug-      "modulos": [
    |./2022-00-00_modelo.pug-      ]
    |./2022-03-11_grupo_de_estudo.pug-    var atividade = {
    |./2022-03-11_grupo_de_estudo.pug-      "ano": "2022",
    |./2022-03-11_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./2022-03-11_grupo_de_estudo.pug-      "visivel": true,
    |./2022-03-11_grupo_de_estudo.pug-      "online": false,
    |./2022-03-11_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./2022-03-11_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./2022-03-11_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./2022-03-11_grupo_de_estudo.pug-      "inscritos": 0,
    |./2022-03-11_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./2022-03-11_grupo_de_estudo.pug-      "modulos": [
    |./2022-03-11_grupo_de_estudo.pug-      ]
    |./2022-04-08_grupo_de_estudo.pug-    var atividade = {
    |./2022-04-08_grupo_de_estudo.pug-      "ano": "2022",
    |./2022-04-08_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./2022-04-08_grupo_de_estudo.pug-      "visivel": true,
    |./2022-04-08_grupo_de_estudo.pug-      "online": false,
    |./2022-04-08_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./2022-04-08_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./2022-04-08_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./2022-04-08_grupo_de_estudo.pug-      "inscritos": 0,
    |./2022-04-08_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./2022-04-08_grupo_de_estudo.pug-      "modulos": [
    |./2022-04-08_grupo_de_estudo.pug-      ]
    |./2022-08-12_grupo_de_estudo.pug-    var atividade = {
    |./2022-08-12_grupo_de_estudo.pug-      "ano": "2022",
    |./2022-08-12_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./2022-08-12_grupo_de_estudo.pug-      "visivel": true,
    |./2022-08-12_grupo_de_estudo.pug-      "online": false,
    |./2022-08-12_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./2022-08-12_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./2022-08-12_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./2022-08-12_grupo_de_estudo.pug-      "inscritos": 0,
    |./2022-08-12_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./2022-08-12_grupo_de_estudo.pug-      "modulos": [
    |./2022-08-12_grupo_de_estudo.pug-      ]
    |./2022-10-14_grupo_de_estudo.pug-    var atividade = {
    |./2022-10-14_grupo_de_estudo.pug-      "ano": "2022",
    |./2022-10-14_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./2022-10-14_grupo_de_estudo.pug-      "visivel": true,
    |./2022-10-14_grupo_de_estudo.pug-      "online": false,
    |./2022-10-14_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./2022-10-14_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./2022-10-14_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./2022-10-14_grupo_de_estudo.pug-      "inscritos": 0,
    |./2022-10-14_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./2022-10-14_grupo_de_estudo.pug-      "modulos": [
    |./2022-10-14_grupo_de_estudo.pug-      ]
    |./2022-12-19_grupo_de_estudo.pug-    var atividade = {
    |./2022-12-19_grupo_de_estudo.pug-      "ano": "2022",
    |./2022-12-19_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./2022-12-19_grupo_de_estudo.pug-      "visivel": true,
    |./2022-12-19_grupo_de_estudo.pug-      "online": false,
    |./2022-12-19_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./2022-12-19_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./2022-12-19_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./2022-12-19_grupo_de_estudo.pug-      "inscritos": 0,
    |./2022-12-19_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./2022-12-19_grupo_de_estudo.pug-      "modulos": [
    |./2022-12-19_grupo_de_estudo.pug-      ]
    |./joao-edenio-reis-valle.pug-      Pe. Edênio dos Reis Valle – pós em Ciências da Religião e ex-vice-reitor Comunitário (1976-1984)
    |./joao-edenio-reis-valle.pug-
    |./joao-edenio-reis-valle.pug-  h3 Vídeos
    |./joao-edenio-reis-valle.pug-  h4 TVPUC
    |./joao-edenio-reis-valle.pug-    iframe(width="100%",src="https://www.youtube.com/embed/jw3q5DVwGbA",allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture",allowfullscreen)
    |./joao-edenio-reis-valle.pug:    .hide FIXME Vídeo responsivo
    |./fixme.pug-    |./2022-06-13_grupo_de_estudo.pug-    var atividade = {
    |./fixme.pug-    |./2022-06-13_grupo_de_estudo.pug-      "ano": "2022",
    |./fixme.pug-    |./2022-06-13_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./fixme.pug-    |./2022-06-13_grupo_de_estudo.pug-      "visivel": true,
    |./fixme.pug-    |./2022-06-13_grupo_de_estudo.pug-      "online": false,
    |./fixme.pug:    |./2022-06-13_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./fixme.pug:    |./2022-06-13_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./fixme.pug-    |./2022-06-13_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./fixme.pug-    |./2022-06-13_grupo_de_estudo.pug-      "inscritos": 0,
    |./fixme.pug-    |./2022-06-13_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./fixme.pug-    |./2022-06-13_grupo_de_estudo.pug-      "modulos": [
    |./fixme.pug-    |./2022-06-13_grupo_de_estudo.pug-      ]
    |./fixme.pug-    |./2022-09-09_grupo_de_estudo.pug-    var atividade = {
    |./fixme.pug-    |./2022-09-09_grupo_de_estudo.pug-      "ano": "2022",
    |./fixme.pug-    |./2022-09-09_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./fixme.pug-    |./2022-09-09_grupo_de_estudo.pug-      "visivel": true,
    |./fixme.pug-    |./2022-09-09_grupo_de_estudo.pug-      "online": false,
    |./fixme.pug:    |./2022-09-09_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./fixme.pug:    |./2022-09-09_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./fixme.pug-    |./2022-09-09_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./fixme.pug-    |./2022-09-09_grupo_de_estudo.pug-      "inscritos": 0,
    |./fixme.pug-    |./2022-09-09_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./fixme.pug-    |./2022-09-09_grupo_de_estudo.pug-      "modulos": [
    |./fixme.pug-    |./2022-09-09_grupo_de_estudo.pug-      ]
    |./fixme.pug-    |./2022-11-11_grupo_de_estudo.pug-    var atividade = {
    |./fixme.pug-    |./2022-11-11_grupo_de_estudo.pug-      "ano": "2022",
    |./fixme.pug-    |./2022-11-11_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./fixme.pug-    |./2022-11-11_grupo_de_estudo.pug-      "visivel": true,
    |./fixme.pug-    |./2022-11-11_grupo_de_estudo.pug-      "online": false,
    |./fixme.pug:    |./2022-11-11_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./fixme.pug:    |./2022-11-11_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./fixme.pug-    |./2022-11-11_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./fixme.pug-    |./2022-11-11_grupo_de_estudo.pug-      "inscritos": 0,
    |./fixme.pug-    |./2022-11-11_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./fixme.pug-    |./2022-11-11_grupo_de_estudo.pug-      "modulos": [
    |./fixme.pug-    |./2022-11-11_grupo_de_estudo.pug-      ]
    |./fixme.pug-    |./2022-05-13_grupo_de_estudo.pug-    var atividade = {
    |./fixme.pug-    |./2022-05-13_grupo_de_estudo.pug-      "ano": "2022",
    |./fixme.pug-    |./2022-05-13_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./fixme.pug-    |./2022-05-13_grupo_de_estudo.pug-      "visivel": true,
    |./fixme.pug-    |./2022-05-13_grupo_de_estudo.pug-      "online": false,
    |./fixme.pug:    |./2022-05-13_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./fixme.pug:    |./2022-05-13_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./fixme.pug-    |./2022-05-13_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./fixme.pug-    |./2022-05-13_grupo_de_estudo.pug-      "inscritos": 0,
    |./fixme.pug-    |./2022-05-13_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./fixme.pug-    |./2022-05-13_grupo_de_estudo.pug-      "modulos": [
    |./fixme.pug-    |./2022-05-13_grupo_de_estudo.pug-      ]
    |./fixme.pug-    |./2022-00-00_modelo.pug-    var atividade = {
    |./fixme.pug-    |./2022-00-00_modelo.pug-      "ano": "2022",
    |./fixme.pug-    |./2022-00-00_modelo.pug-      "tipo": "grupo-de-estudo",
    |./fixme.pug-    |./2022-00-00_modelo.pug-      "visivel": true,
    |./fixme.pug-    |./2022-00-00_modelo.pug-      "online": false,
    |./fixme.pug:    |./2022-00-00_modelo.pug:      "titulo": "FIXME",
    |./fixme.pug:    |./2022-00-00_modelo.pug:      "objetivo": "FIXME",
    |./fixme.pug-    |./2022-00-00_modelo.pug-      "dataiso": "2022-10-19",
    |./fixme.pug-    |./2022-00-00_modelo.pug-      "inscritos": 0,
    |./fixme.pug-    |./2022-00-00_modelo.pug-      "assessor_slugs": [],
    |./fixme.pug-    |./2022-00-00_modelo.pug-      "modulos": [
    |./fixme.pug-    |./2022-00-00_modelo.pug-      ]
    |./fixme.pug-    |./2022-03-11_grupo_de_estudo.pug-    var atividade = {
    |./fixme.pug-    |./2022-03-11_grupo_de_estudo.pug-      "ano": "2022",
    |./fixme.pug-    |./2022-03-11_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./fixme.pug-    |./2022-03-11_grupo_de_estudo.pug-      "visivel": true,
    |./fixme.pug-    |./2022-03-11_grupo_de_estudo.pug-      "online": false,
    |./fixme.pug:    |./2022-03-11_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./fixme.pug:    |./2022-03-11_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./fixme.pug-    |./2022-03-11_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./fixme.pug-    |
    |./componentes/membros.pug-      "masculino": false,
    |./componentes/membros.pug-      "slug":      "eliana-massih",
    |./componentes/membros.pug-      "nome":      "Eliana Massih",
    |./componentes/membros.pug-      "titulo":    "Psicóloga",
    |./componentes/membros.pug-      "CRP":       "2188/06",
    |./componentes/membros.pug:      "descricao": "FIXME Inserir descrição aqui",
    |./componentes/membros.pug-      "areas": [
    |./componentes/membros.pug:        "FIXME Definir área de atuação",
    |./componentes/membros.pug:        "FIXME Definir área de atuação",
    |./componentes/membros.pug:        "FIXME Definir área de atuação"
    |./componentes/membros.pug-      ]
    |./componentes/membros.pug-    },
    |./componentes/membros.pug-    {
    |./componentes/membros.pug-      "ativo": false,
    |./componentes/membros.pug-      "grupo":     "psicoterapêutico",
    |./componentes/membros.pug-      "avatar":    "suzana-carvalho.jpg",
    |./componentes/membros.pug-      "masculino": false,
    |./componentes/membros.pug-      "slug":      "suzana-carvalho",
    |./componentes/membros.pug-      "nome":      "Suzana Carvalho",
    |./componentes/membros.pug:      "titulo":    "FIXME",
    |./componentes/membros.pug:      "CRP":       "FIXME",
    |./componentes/membros.pug:      "descricao": "FIXME Inserir descrição aqui",
    |./componentes/membros.pug-      "areas": [
    |./componentes/membros.pug:        "FIXME Definir área de atuação",
    |./componentes/membros.pug:        "FIXME Definir área de atuação",
    |./componentes/membros.pug:        "FIXME Definir área de atuação"
    |./componentes/membros.pug-      ]
    |./componentes/membros.pug-    },
    |./componentes/membros.pug-    {
    |./componentes/membros.pug-      "ativo": true,
    |./componentes/membros.pug-      "grupo":     "administrativo",
    |--
    |./componentes/membros.pug-      "nome":      "Paulo Sérgio Frederico",
    |./componentes/membros.pug-      "titulo":    "Secretário",
    |./componentes/membros.pug-      "descricao": "Inserir descrição aqui",
    |./componentes/membros.pug-      "areas": [
    |./componentes/membros.pug-        "Organização dos eventos",
    |./componentes/membros.pug:        "FIXME Definir área de atuação",
    |./componentes/membros.pug:        "FIXME Definir área de atuação",
    |./componentes/membros.pug:        "FIXME Definir área de atuação"
    |./componentes/membros.pug-      ]
    |./componentes/membros.pug-    },
    |./componentes/membros.pug-    {
    |./componentes/membros.pug-      "ativo": true,
    |./componentes/membros.pug-      "grupo":     "psicoterapêutico",
    |./componentes/membros.pug-      "avatar":    "flavia-moreira-ribeiro.jpg",
    |./componentes/membros.pug-      "masculino": false,
    |./componentes/membros.pug-      "slug":      "flavia-moreira-ribeiro",
    |./componentes/membros.pug-      "nome":      "Flávia Moreira Ribeiro",
    |./componentes/membros.pug-      "titulo":    "Psicóloga Clínica",
    |./componentes/membros.pug:      "CRP":       "FIXME",
    |./componentes/membros.pug:      "descricao": "FIXME Inserir descrição aqui",
    |./componentes/membros.pug-      "areas": [
    |./componentes/membros.pug:        "FIXME Definir área de atuação",
    |./componentes/membros.pug:        "FIXME Definir área de atuação",
    |./componentes/membros.pug:        "FIXME Definir área de atuação"
    |./componentes/membros.pug-      ]
    |./componentes/membros.pug-    },
    |./componentes/membros.pug-    {
    |./componentes/membros.pug-      "ativo": true,
    |./componentes/membros.pug-      "grupo":     "psicoterapêutico",
    |--
    |./componentes/membros.pug-      "slug":      "joao-edenio-reis-valle",
    |./componentes/membros.pug-      "nome":      "João Edênio Reis Valle",
    |./componentes/membros.pug-      "titulo":    "Doutor em Psicologia",
    |./componentes/membros.pug-      "descricao": "Graduação em Psicologia pelo Instituto de Psicologia da pontifícia Universidade Salesiana (Roma); doutorado no Instituto de Psicologia da Universidade Salesiana de Roma e na Bélgica. De volta ao Brasil trabalhou em vários setores da PUC-SP e deu início a atividades de assessoria e direção nas principais organizações da Igreja católica no Brasil e na América Latina. É autor de muitos livros e artigos na área de Psicologia, Educação, Vida Religiosa e Pastoral.",
    |./componentes/membros.pug-      "areas": [
    |./componentes/membros.pug:        "FIXME detalhar",
    |./componentes/membros.pug:        "FIXME detalhar",
    |./componentes/membros.pug:        "FIXME detalhar",
    |./componentes/membros.pug:        "FIXME detalhar"
    |./componentes/membros.pug-      ]
    |./componentes/membros.pug-    },
    |./componentes/membros.pug-    {
    |./componentes/membros.pug-      "ativo": true,
    |./componentes/membros.pug-      "grupo":     "psicanalítico",
    |./2022-02-11_grupo_de_estudo.pug-    var atividade = {
    |./2022-02-11_grupo_de_estudo.pug-      "ano": "2022",
    |./2022-02-11_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./2022-02-11_grupo_de_estudo.pug-      "visivel": true,
    |./2022-02-11_grupo_de_estudo.pug-      "online": false,
    |./2022-02-11_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./2022-02-11_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./2022-02-11_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./2022-02-11_grupo_de_estudo.pug-      "inscritos": 0,
    |./2022-02-11_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./2022-02-11_grupo_de_estudo.pug-      "modulos": [
    |./2022-02-11_grupo_de_estudo.pug-      ]
    |./es/textos/acolhida.md-Nessa sessão de escuta clínica é realizado encaminhamento para acompanhamento
    |./es/textos/acolhida.md-mais adequado a cada situação. Após as entrevistas preliminares, a pessoa
    |./es/textos/acolhida.md-é encaminhada para um terapeuta que passa a assumir a responsabilidade por todo
    |./es/textos/acolhida.md-o acompanhamento.
    |./es/textos/acolhida.md-
    |./es/textos/acolhida.md:FIXME: traduzir
    |./es/textos/psicoterapia-grupal.md-experiencia de la terapia de grupo amplía la comprensión de los fenómenos de
    |./es/textos/psicoterapia-grupal.md-intersubjetividad dentro y fuera del espacio terapéutico. El objetivo es que la
    |./es/textos/psicoterapia-grupal.md-inversión en la comprensión de los aspectos internos, interpersonales
    |./es/textos/psicoterapia-grupal.md-y trans-subjetivos promueva la mejora de los vínculos comunitarios.
    |./es/textos/psicoterapia-grupal.md-
    |./es/textos/psicoterapia-grupal.md:FIXME: Incluir tradução
    |./es/textos/integracao-psicoespiritual.md-terapêutico das pessoas consagradas (religiosas, padres e leigos) que buscam
    |./es/textos/integracao-psicoespiritual.md-resgatar o sentido da sua vida. Nosso programa de integração psicoespiritual
    |./es/textos/integracao-psicoespiritual.md-ajuda na avaliação da realização vocacional e na revisão do itinerário
    |./es/textos/integracao-psicoespiritual.md-espiritual.
    |./es/textos/integracao-psicoespiritual.md-
    |./es/textos/integracao-psicoespiritual.md:FIXME: traduzir
    |./textos/artigos.md-# Artigos
    |./textos/artigos.md-
    |./textos/artigos.md-## Estudos
    |./textos/artigos.md-
    |./textos/artigos.md:FIXME Definir
    |./textos/artigos.md-
    |./textos/artigos.md-## Reflexões
    |./textos/artigos.md-
    |./textos/artigos.md:FIXME Definir
