extends componentes/layout.pug
block main
  pre
    |./2022-09-09_grupo_de_estudo.pug-    var atividade = {
    |./2022-09-09_grupo_de_estudo.pug-      "ano": "2022",
    |./2022-09-09_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./2022-09-09_grupo_de_estudo.pug-      "visivel": true,
    |./2022-09-09_grupo_de_estudo.pug-      "online": false,
    |./2022-09-09_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./2022-09-09_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./2022-09-09_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./2022-09-09_grupo_de_estudo.pug-      "inscritos": 0,
    |./2022-09-09_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./2022-09-09_grupo_de_estudo.pug-      "modulos": [
    |./2022-09-09_grupo_de_estudo.pug-      ]
    |./2022-05-13_grupo_de_estudo.pug-    var atividade = {
    |./2022-05-13_grupo_de_estudo.pug-      "ano": "2022",
    |./2022-05-13_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./2022-05-13_grupo_de_estudo.pug-      "visivel": true,
    |./2022-05-13_grupo_de_estudo.pug-      "online": false,
    |./2022-05-13_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./2022-05-13_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./2022-05-13_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./2022-05-13_grupo_de_estudo.pug-      "inscritos": 0,
    |./2022-05-13_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./2022-05-13_grupo_de_estudo.pug-      "modulos": [
    |./2022-05-13_grupo_de_estudo.pug-      ]
    |./2022-04-08_grupo_de_estudo.pug-    var atividade = {
    |./2022-04-08_grupo_de_estudo.pug-      "ano": "2022",
    |./2022-04-08_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./2022-04-08_grupo_de_estudo.pug-      "visivel": true,
    |./2022-04-08_grupo_de_estudo.pug-      "online": false,
    |./2022-04-08_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./2022-04-08_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./2022-04-08_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./2022-04-08_grupo_de_estudo.pug-      "inscritos": 0,
    |./2022-04-08_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./2022-04-08_grupo_de_estudo.pug-      "modulos": [
    |./2022-04-08_grupo_de_estudo.pug-      ]
    |./2022-10-14_grupo_de_estudo.pug-    var atividade = {
    |./2022-10-14_grupo_de_estudo.pug-      "ano": "2022",
    |./2022-10-14_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./2022-10-14_grupo_de_estudo.pug-      "visivel": true,
    |./2022-10-14_grupo_de_estudo.pug-      "online": false,
    |./2022-10-14_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./2022-10-14_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./2022-10-14_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./2022-10-14_grupo_de_estudo.pug-      "inscritos": 0,
    |./2022-10-14_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./2022-10-14_grupo_de_estudo.pug-      "modulos": [
    |./2022-10-14_grupo_de_estudo.pug-      ]
    |./2022-02-11_grupo_de_estudo.pug-    var atividade = {
    |./2022-02-11_grupo_de_estudo.pug-      "ano": "2022",
    |./2022-02-11_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./2022-02-11_grupo_de_estudo.pug-      "visivel": true,
    |./2022-02-11_grupo_de_estudo.pug-      "online": false,
    |./2022-02-11_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./2022-02-11_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./2022-02-11_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./2022-02-11_grupo_de_estudo.pug-      "inscritos": 0,
    |./2022-02-11_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./2022-02-11_grupo_de_estudo.pug-      "modulos": [
    |./2022-02-11_grupo_de_estudo.pug-      ]
    |./2022-03-11_grupo_de_estudo.pug-    var atividade = {
    |./2022-03-11_grupo_de_estudo.pug-      "ano": "2022",
    |./2022-03-11_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./2022-03-11_grupo_de_estudo.pug-      "visivel": true,
    |./2022-03-11_grupo_de_estudo.pug-      "online": false,
    |./2022-03-11_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./2022-03-11_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./2022-03-11_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./2022-03-11_grupo_de_estudo.pug-      "inscritos": 0,
    |./2022-03-11_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./2022-03-11_grupo_de_estudo.pug-      "modulos": [
    |./2022-03-11_grupo_de_estudo.pug-      ]
    |./2022-06-13_grupo_de_estudo.pug-    var atividade = {
    |./2022-06-13_grupo_de_estudo.pug-      "ano": "2022",
    |./2022-06-13_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./2022-06-13_grupo_de_estudo.pug-      "visivel": true,
    |./2022-06-13_grupo_de_estudo.pug-      "online": false,
    |./2022-06-13_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./2022-06-13_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./2022-06-13_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./2022-06-13_grupo_de_estudo.pug-      "inscritos": 0,
    |./2022-06-13_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./2022-06-13_grupo_de_estudo.pug-      "modulos": [
    |./2022-06-13_grupo_de_estudo.pug-      ]
    |./2022-12-19_grupo_de_estudo.pug-    var atividade = {
    |./2022-12-19_grupo_de_estudo.pug-      "ano": "2022",
    |./2022-12-19_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./2022-12-19_grupo_de_estudo.pug-      "visivel": true,
    |./2022-12-19_grupo_de_estudo.pug-      "online": false,
    |./2022-12-19_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./2022-12-19_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./2022-12-19_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./2022-12-19_grupo_de_estudo.pug-      "inscritos": 0,
    |./2022-12-19_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./2022-12-19_grupo_de_estudo.pug-      "modulos": [
    |./2022-12-19_grupo_de_estudo.pug-      ]
    |./es/2022-09-09_grupo_de_estudo.pug-    var atividade = {
    |./es/2022-09-09_grupo_de_estudo.pug-      "ano": "2022",
    |./es/2022-09-09_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./es/2022-09-09_grupo_de_estudo.pug-      "visivel": true,
    |./es/2022-09-09_grupo_de_estudo.pug-      "online": false,
    |./es/2022-09-09_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./es/2022-09-09_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./es/2022-09-09_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./es/2022-09-09_grupo_de_estudo.pug-      "inscritos": 0,
    |./es/2022-09-09_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./es/2022-09-09_grupo_de_estudo.pug-      "modulos": [
    |./es/2022-09-09_grupo_de_estudo.pug-      ]
    |./es/2022-05-13_grupo_de_estudo.pug-    var atividade = {
    |./es/2022-05-13_grupo_de_estudo.pug-      "ano": "2022",
    |./es/2022-05-13_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./es/2022-05-13_grupo_de_estudo.pug-      "visivel": true,
    |./es/2022-05-13_grupo_de_estudo.pug-      "online": false,
    |./es/2022-05-13_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./es/2022-05-13_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./es/2022-05-13_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./es/2022-05-13_grupo_de_estudo.pug-      "inscritos": 0,
    |./es/2022-05-13_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./es/2022-05-13_grupo_de_estudo.pug-      "modulos": [
    |./es/2022-05-13_grupo_de_estudo.pug-      ]
    |./es/2022-04-08_grupo_de_estudo.pug-    var atividade = {
    |./es/2022-04-08_grupo_de_estudo.pug-      "ano": "2022",
    |./es/2022-04-08_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./es/2022-04-08_grupo_de_estudo.pug-      "visivel": true,
    |./es/2022-04-08_grupo_de_estudo.pug-      "online": false,
    |./es/2022-04-08_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./es/2022-04-08_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./es/2022-04-08_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./es/2022-04-08_grupo_de_estudo.pug-      "inscritos": 0,
    |./es/2022-04-08_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./es/2022-04-08_grupo_de_estudo.pug-      "modulos": [
    |./es/2022-04-08_grupo_de_estudo.pug-      ]
    |./es/2022-10-14_grupo_de_estudo.pug-    var atividade = {
    |./es/2022-10-14_grupo_de_estudo.pug-      "ano": "2022",
    |./es/2022-10-14_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./es/2022-10-14_grupo_de_estudo.pug-      "visivel": true,
    |./es/2022-10-14_grupo_de_estudo.pug-      "online": false,
    |./es/2022-10-14_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./es/2022-10-14_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./es/2022-10-14_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./es/2022-10-14_grupo_de_estudo.pug-      "inscritos": 0,
    |./es/2022-10-14_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./es/2022-10-14_grupo_de_estudo.pug-      "modulos": [
    |./es/2022-10-14_grupo_de_estudo.pug-      ]
    |./es/2022-02-11_grupo_de_estudo.pug-    var atividade = {
    |./es/2022-02-11_grupo_de_estudo.pug-      "ano": "2022",
    |./es/2022-02-11_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./es/2022-02-11_grupo_de_estudo.pug-      "visivel": true,
    |./es/2022-02-11_grupo_de_estudo.pug-      "online": false,
    |./es/2022-02-11_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./es/2022-02-11_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./es/2022-02-11_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./es/2022-02-11_grupo_de_estudo.pug-      "inscritos": 0,
    |./es/2022-02-11_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./es/2022-02-11_grupo_de_estudo.pug-      "modulos": [
    |./es/2022-02-11_grupo_de_estudo.pug-      ]
    |./es/2022-03-11_grupo_de_estudo.pug-    var atividade = {
    |./es/2022-03-11_grupo_de_estudo.pug-      "ano": "2022",
    |./es/2022-03-11_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./es/2022-03-11_grupo_de_estudo.pug-      "visivel": true,
    |./es/2022-03-11_grupo_de_estudo.pug-      "online": false,
    |./es/2022-03-11_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./es/2022-03-11_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./es/2022-03-11_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./es/2022-03-11_grupo_de_estudo.pug-      "inscritos": 0,
    |./es/2022-03-11_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./es/2022-03-11_grupo_de_estudo.pug-      "modulos": [
    |./es/2022-03-11_grupo_de_estudo.pug-      ]
    |./es/2022-06-13_grupo_de_estudo.pug-    var atividade = {
    |./es/2022-06-13_grupo_de_estudo.pug-      "ano": "2022",
    |./es/2022-06-13_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./es/2022-06-13_grupo_de_estudo.pug-      "visivel": true,
    |./es/2022-06-13_grupo_de_estudo.pug-      "online": false,
    |./es/2022-06-13_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./es/2022-06-13_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./es/2022-06-13_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./es/2022-06-13_grupo_de_estudo.pug-      "inscritos": 0,
    |./es/2022-06-13_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./es/2022-06-13_grupo_de_estudo.pug-      "modulos": [
    |./es/2022-06-13_grupo_de_estudo.pug-      ]
    |./es/2022-12-19_grupo_de_estudo.pug-    var atividade = {
    |./es/2022-12-19_grupo_de_estudo.pug-      "ano": "2022",
    |./es/2022-12-19_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./es/2022-12-19_grupo_de_estudo.pug-      "visivel": true,
    |./es/2022-12-19_grupo_de_estudo.pug-      "online": false,
    |./es/2022-12-19_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./es/2022-12-19_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./es/2022-12-19_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./es/2022-12-19_grupo_de_estudo.pug-      "inscritos": 0,
    |./es/2022-12-19_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./es/2022-12-19_grupo_de_estudo.pug-      "modulos": [
    |./es/2022-12-19_grupo_de_estudo.pug-      ]
    |./es/2022-08-12_grupo_de_estudo.pug-    var atividade = {
    |./es/2022-08-12_grupo_de_estudo.pug-      "ano": "2022",
    |./es/2022-08-12_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./es/2022-08-12_grupo_de_estudo.pug-      "visivel": true,
    |./es/2022-08-12_grupo_de_estudo.pug-      "online": false,
    |./es/2022-08-12_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./es/2022-08-12_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./es/2022-08-12_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./es/2022-08-12_grupo_de_estudo.pug-      "inscritos": 0,
    |./es/2022-08-12_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./es/2022-08-12_grupo_de_estudo.pug-      "modulos": [
    |./es/2022-08-12_grupo_de_estudo.pug-      ]
    |./es/2022-11-11_grupo_de_estudo.pug-    var atividade = {
    |./es/2022-11-11_grupo_de_estudo.pug-      "ano": "2022",
    |./es/2022-11-11_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./es/2022-11-11_grupo_de_estudo.pug-      "visivel": true,
    |./es/2022-11-11_grupo_de_estudo.pug-      "online": false,
    |./es/2022-11-11_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./es/2022-11-11_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./es/2022-11-11_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./es/2022-11-11_grupo_de_estudo.pug-      "inscritos": 0,
    |./es/2022-11-11_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./es/2022-11-11_grupo_de_estudo.pug-      "modulos": [
    |./es/2022-11-11_grupo_de_estudo.pug-      ]
    |./es/2022-00-00_modelo.pug-    var atividade = {
    |./es/2022-00-00_modelo.pug-      "ano": "2022",
    |./es/2022-00-00_modelo.pug-      "tipo": "grupo-de-estudo",
    |./es/2022-00-00_modelo.pug-      "visivel": true,
    |./es/2022-00-00_modelo.pug-      "online": false,
    |./es/2022-00-00_modelo.pug:      "titulo": "FIXME",
    |./es/2022-00-00_modelo.pug:      "objetivo": "FIXME",
    |./es/2022-00-00_modelo.pug-      "dataiso": "2022-10-19",
    |./es/2022-00-00_modelo.pug-      "inscritos": 0,
    |./es/2022-00-00_modelo.pug-      "assessor_slugs": [],
    |./es/2022-00-00_modelo.pug-      "modulos": [
    |./es/2022-00-00_modelo.pug-      ]
    |./2022-08-12_grupo_de_estudo.pug-    var atividade = {
    |./2022-08-12_grupo_de_estudo.pug-      "ano": "2022",
    |./2022-08-12_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./2022-08-12_grupo_de_estudo.pug-      "visivel": true,
    |./2022-08-12_grupo_de_estudo.pug-      "online": false,
    |./2022-08-12_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./2022-08-12_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./2022-08-12_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./2022-08-12_grupo_de_estudo.pug-      "inscritos": 0,
    |./2022-08-12_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./2022-08-12_grupo_de_estudo.pug-      "modulos": [
    |./2022-08-12_grupo_de_estudo.pug-      ]
    |./2022-11-11_grupo_de_estudo.pug-    var atividade = {
    |./2022-11-11_grupo_de_estudo.pug-      "ano": "2022",
    |./2022-11-11_grupo_de_estudo.pug-      "tipo": "grupo-de-estudo",
    |./2022-11-11_grupo_de_estudo.pug-      "visivel": true,
    |./2022-11-11_grupo_de_estudo.pug-      "online": false,
    |./2022-11-11_grupo_de_estudo.pug:      "titulo": "FIXME",
    |./2022-11-11_grupo_de_estudo.pug:      "objetivo": "FIXME",
    |./2022-11-11_grupo_de_estudo.pug-      "dataiso": "2022-10-19",
    |./2022-11-11_grupo_de_estudo.pug-      "inscritos": 0,
    |./2022-11-11_grupo_de_estudo.pug-      "assessor_slugs": [],
    |./2022-11-11_grupo_de_estudo.pug-      "modulos": [
    |./2022-11-11_grupo_de_estudo.pug-      ]
    |./2022-00-00_modelo.pug-    var atividade = {
    |./2022-00-00_modelo.pug-      "ano": "2022",
    |./2022-00-00_modelo.pug-      "tipo": "grupo-de-estudo",
    |./2022-00-00_modelo.pug-      "visivel": true,
    |./2022-00-00_modelo.pug-      "online": false,
    |./2022-00-00_modelo.pug:      "titulo": "FIXME",
    |./2022-00-00_modelo.pug:      "objetivo": "FIXME",
    |./2022-00-00_modelo.pug-      "dataiso": "2022-10-19",
    |./2022-00-00_modelo.pug-      "inscritos": 0,
    |./2022-00-00_modelo.pug-      "assessor_slugs": [],
    |./2022-00-00_modelo.pug-      "modulos": [
    |./2022-00-00_modelo.pug-      ]
    |./es/textos/artigos.md-
    |./es/textos/artigos.md-Definir
    |./es/textos/artigos.md-
    |./es/textos/artigos.md-## Dicas de Leitura
    |./es/textos/artigos.md-
    |./es/textos/artigos.md:FIXME Definir
    |./es/textos/integracao-psicoespiritual.md-terapêutico das pessoas consagradas (religiosas, padres e leigos) que buscam
    |./es/textos/integracao-psicoespiritual.md-resgatar o sentido da sua vida. Nosso programa de integração psicoespiritual
    |./es/textos/integracao-psicoespiritual.md-ajuda na avaliação da realização vocacional e na revisão do itinerário
    |./es/textos/integracao-psicoespiritual.md-espiritual.
    |./es/textos/integracao-psicoespiritual.md-
    |./es/textos/integracao-psicoespiritual.md:FIXME: traduzir
    |./es/textos/psicoterapia-grupal.md-experiencia de la terapia de grupo amplía la comprensión de los fenómenos de
    |./es/textos/psicoterapia-grupal.md-intersubjetividad dentro y fuera del espacio terapéutico. El objetivo es que la
    |./es/textos/psicoterapia-grupal.md-inversión en la comprensión de los aspectos internos, interpersonales
    |./es/textos/psicoterapia-grupal.md-y trans-subjetivos promueva la mejora de los vínculos comunitarios.
    |./es/textos/psicoterapia-grupal.md-
    |./es/textos/psicoterapia-grupal.md:FIXME: Incluir tradução
    |./es/textos/acolhida.md-Nessa sessão de escuta clínica é realizado encaminhamento para acompanhamento
    |./es/textos/acolhida.md-mais adequado a cada situação. Após as entrevistas preliminares, a pessoa
    |./es/textos/acolhida.md-é encaminhada para um terapeuta que passa a assumir a responsabilidade por todo
    |./es/textos/acolhida.md-o acompanhamento.
    |./es/textos/acolhida.md-
    |./es/textos/acolhida.md:FIXME: traduzir
    |./es/textos/paulo-sergio-frederico.md-# paulo-sergio-frederico
    |./es/textos/paulo-sergio-frederico.md-
    |./es/textos/paulo-sergio-frederico.md:FIXME Descrever o profissional aqui.
