extends componentes/layout.pug
block head
  - var slug = "flavia-moreira-ribeiro"
  - ogImage = "https://institutoacolher.github.io/site/img/" + slug + ".jpg"
  - ogImageWidth = "600"
  - ogImageHeight = "600"
  - title = "Flávia Moreira da Silva"

block main
  include componentes/detalhes_do_membro
  include:markdown-it(html) textos/flavia-moreira-ribeiro.md

