extends componentes/layout.pug
block main
  h1 2005
  img.materialboxed(width=300,src='img/fotos/2005-01-08_DSC00715.jpg')
  img.materialboxed(width=300,src='img/fotos/2005-09-01-GRUPO-01.jpg')
  img.materialboxed(width=300,src='img/fotos/2005-09-01-GRUPO-02.jpg')
  img.materialboxed(width=300,src='img/fotos/2005-09-01-GRUPO-03.jpg')
  img.materialboxed(width=300,src='img/fotos/2005-09-01-GRUPO-04.jpg')
  img.materialboxed(width=300,src='img/fotos/2005-09-01-GRUPO-05.jpg')
  img.materialboxed(width=300,src='img/fotos/2005-09-01-GRUPO-06.jpg')
  img.materialboxed(width=300,src='img/fotos/2005-09-01-GRUPO-07.jpg')
  img.materialboxed(width=300,src='img/fotos/2005-09-01-GRUPO-08.jpg')
  img.materialboxed(width=300,src='img/fotos/2005-09-01-GRUPO-09.jpg')
  img.materialboxed(width=300,src='img/fotos/2005-09-01-GRUPO-10.jpg')
  img.materialboxed(width=300,src='img/fotos/2005-09-01-GRUPO-11.jpg')
  img.materialboxed(width=300,src='img/fotos/2005-09-01-GRUPO-12.jpg')
  img.materialboxed(width=300,src='img/fotos/2005-09-01-GRUPO-13.jpg')
  img.materialboxed(width=300,src='img/fotos/2005-09-01-GRUPO-14.jpg')
  img.materialboxed(width=300,src='img/fotos/2005-09-01-GRUPO-15.jpg')
  img.materialboxed(width=300,src='img/fotos/2005-09-01-GRUPO-16.jpg')
  img.materialboxed(width=300,src='img/fotos/2005-09-01-GRUPO-17.jpg')
  img.materialboxed(width=300,src='img/fotos/2005-09-01-GRUPO-18.jpg')
  img.materialboxed(width=300,src='img/fotos/2005-09-01-GRUPO-19.jpg')
  
  script.
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.materialboxed');
      var options = {
      };
      var instances = M.Materialbox.init(elems, options);
    });
