extends componentes/layout.pug
block main
  h1 Recordações de 2021
  p 2021-02-13_22041997_220436671823496_8861530783238464234_o.jpg
  img.materialboxed(width=300,src='img/fotos/2021-02-13_22041997_220436671823496_8861530783238464234_o.jpg') 
  p 2021-11-17_DSC00215.jpg
  img.materialboxed(width=300,src='img/fotos/2021-11-17_DSC00215.jpg') 
  p 2021-11-17_DSC00216.jpg
  img.materialboxed(width=300,src='img/fotos/2021-11-17_DSC00216.jpg') 
  p 2021-11-17_DSC00594.jpg
  img.materialboxed(width=300,src='img/fotos/2021-11-17_DSC00594.jpg') 
  p 2021-11-17_QYUC8501.jpg
  img.materialboxed(width=300,src='img/fotos/2021-11-17_QYUC8501.jpg') 
  p 2021-11-17_RIQU1419.jpg
  img.materialboxed(width=300,src='img/fotos/2021-11-17_RIQU1419.jpg') 
  p 2021-12-10_Edenio_1.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-10_Edenio_1.jpg') 
  p 2021-12-10_Edenio_2.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-10_Edenio_2.jpg') 
  p 2021-12-10_Edenio_4.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-10_Edenio_4.jpg') 
  p 2021-12-10_Edenio_5.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-10_Edenio_5.jpg') 
  p 2021-12-10_Edenio_6.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-10_Edenio_6.jpg') 
  p 2021-12-10_Edenio_7.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-10_Edenio_7.jpg') 
  p 2021-12-10_Edenio.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-10_Edenio.jpg') 
  p 2021-12-11_DSC_0933.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_DSC_0933.jpg') 
  p 2021-12-11_DSC_0946.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_DSC_0946.jpg') 
  p 2021-12-11_DSC_0959.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_DSC_0959.jpg') 
  p 2021-12-11_DSC_0981.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_DSC_0981.jpg') 
  p 2021-12-11_IMG_1723.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_IMG_1723.jpg') 
  p 2021-12-11_IMG_1725.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_IMG_1725.jpg') 
  p 2021-12-11_IMG_1728.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_IMG_1728.jpg') 
  p 2021-12-11_IMG_1729.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_IMG_1729.jpg') 
  p 2021-12-11_IMG_1730.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_IMG_1730.jpg') 
  p 2021-12-11_IMG_1731.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_IMG_1731.jpg') 
  p 2021-12-11_IMG_1732.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_IMG_1732.jpg') 
  p 2021-12-11_IMG_1733.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_IMG_1733.jpg') 
  p 2021-12-11_IMG_1735.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_IMG_1735.jpg') 
  p 2021-12-11_IMG_1736.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_IMG_1736.jpg') 
  p 2021-12-11_IMG_1737.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_IMG_1737.jpg') 
  p 2021-12-11_IMG_1738.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_IMG_1738.jpg') 
  p 2021-12-11_IMG_1740.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_IMG_1740.jpg') 
  p 2021-12-11_IMG_1744.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_IMG_1744.jpg') 
  p 2021-12-11_IMG_1751.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_IMG_1751.jpg') 
  p 2021-12-11_IMG_1753.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_IMG_1753.jpg') 
  p 2021-12-11_IMG_1755.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_IMG_1755.jpg') 
  p 2021-12-11_IMG_1757.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_IMG_1757.jpg') 
  p 2021-12-11_IMG_1759.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_IMG_1759.jpg') 
  p 2021-12-11_IMG_1764.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_IMG_1764.jpg') 
  p 2021-12-11_IMG_1768.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_IMG_1768.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_100.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_100.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_101.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_101.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_102.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_102.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_103.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_103.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_105.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_105.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_108.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_108.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_109.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_109.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_10.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_10.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_110.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_110.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_112.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_112.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_113.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_113.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_114.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_114.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_115.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_115.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_116.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_116.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_124.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_124.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_125.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_125.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_126.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_126.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_127.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_127.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_128.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_128.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_129.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_129.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_12.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_12.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_130.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_130.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_131.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_131.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_132.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_132.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_133.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_133.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_137.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_137.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_16.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_16.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_17.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_17.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_18.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_18.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_19.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_19.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_20.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_20.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_21.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_21.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_22.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_22.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_23.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_23.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_26.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_26.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_27.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_27.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_28.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_28.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_2.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_2.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_30.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_30.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_32.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_32.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_33.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_33.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_34.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_34.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_37.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_37.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_38.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_38.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_42.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_42.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_43.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_43.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_44.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_44.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_45.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_45.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_46.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_46.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_47.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_47.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_48.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_48.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_49.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_49.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_4.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_4.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_50.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_50.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_51.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_51.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_52.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_52.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_54.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_54.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_56.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_56.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_58.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_58.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_5.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_5.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_61.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_61.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_65.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_65.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_6.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_6.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_70.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_70.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_71.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_71.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_72.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_72.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_73.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_73.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_74.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_74.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_75.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_75.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_76.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_76.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_77.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_77.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_7.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_7.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_82.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_82.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_83.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_83.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_84.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_84.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_85.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_85.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_86.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_86.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_88.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_88.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_90.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_90.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_95.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_95.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_97.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_97.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_98.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_98.jpg') 
  p 2021-12-11_ITA_2013-Enc_01_a_03_jan_99.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA_2013-Enc_01_a_03_jan_99.jpg') 
  p 2021-12-11_ITA-festa_junina_2012_10.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA-festa_junina_2012_10.jpg') 
  p 2021-12-11_ITA-festa_junina_2012_11.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA-festa_junina_2012_11.jpg') 
  p 2021-12-11_ITA-festa_junina_2012_12.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA-festa_junina_2012_12.jpg') 
  p 2021-12-11_ITA-festa_junina_2012_13.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA-festa_junina_2012_13.jpg') 
  p 2021-12-11_ITA-festa_junina_2012_14.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA-festa_junina_2012_14.jpg') 
  p 2021-12-11_ITA-festa_junina_2012_7.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA-festa_junina_2012_7.jpg') 
  p 2021-12-11_ITA-festa_junina_2012_9.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA-festa_junina_2012_9.jpg') 
  p 2021-12-11_ITA-passeio_27.11_2.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA-passeio_27.11_2.jpg') 
  p 2021-12-11_ITA-passeio_27.11_3.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA-passeio_27.11_3.jpg') 
  p 2021-12-11_ITA-passeio_27.11_4.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA-passeio_27.11_4.jpg') 
  p 2021-12-11_ITA-passeio_27.11_5.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA-passeio_27.11_5.jpg') 
  p 2021-12-11_ITA-passeio_27.11.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_ITA-passeio_27.11.jpg') 
  p 2021-12-11_WhatsApp_Image_2021-12-02_at_13.46.41.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_WhatsApp_Image_2021-12-02_at_13.46.41.jpg') 
  p 2021-12-11_WhatsApp_Image_2021-12-03_at_07.28.13.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_WhatsApp_Image_2021-12-03_at_07.28.13.jpg') 
  p 2021-12-11_WhatsApp_Image_2021-12-03_at_07.32.21.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_WhatsApp_Image_2021-12-03_at_07.32.21.jpg') 
  p 2021-12-11_WhatsApp_Image_2021-12-05_at_18.03.20.jpg
  img.materialboxed(width=300,src='img/fotos/2021-12-11_WhatsApp_Image_2021-12-05_at_18.03.20.jpg') 
  script.
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.materialboxed');
      var options = {
      };
      var instances = M.Materialbox.init(elems, options);
    });
