extends componentes/layout.pug
block main
  h1 Recordações de 2018
  p 2018-01-11_IMG-20160514-WA0019.jpg
  img.materialboxed(width=300,src='img/fotos/2018-01-11_IMG-20160514-WA0019.jpg') 
  p 2018-01-11_IMG-20160514-WA0021.jpg
  img.materialboxed(width=300,src='img/fotos/2018-01-11_IMG-20160514-WA0021.jpg') 
  p 2018-01-11_IMG-20160514-WA0022.jpg
  img.materialboxed(width=300,src='img/fotos/2018-01-11_IMG-20160514-WA0022.jpg') 
  p 2018-01-11_IMG-20160514-WA0023.jpg
  img.materialboxed(width=300,src='img/fotos/2018-01-11_IMG-20160514-WA0023.jpg') 
  p 2018-01-11_IMG-20160514-WA0028.jpg
  img.materialboxed(width=300,src='img/fotos/2018-01-11_IMG-20160514-WA0028.jpg') 
  p 2018-03-03_IMG-20180303-WA0004.jpg
  img.materialboxed(width=300,src='img/fotos/2018-03-03_IMG-20180303-WA0004.jpg') 
  p 2018-03-03_IMG-20180303-WA0006.jpg
  img.materialboxed(width=300,src='img/fotos/2018-03-03_IMG-20180303-WA0006.jpg') 
  p 2018-03-03_IMG-20180303-WA0007.jpg
  img.materialboxed(width=300,src='img/fotos/2018-03-03_IMG-20180303-WA0007.jpg') 
  p 2018-03-03_IMG-20180303-WA0010.jpg
  img.materialboxed(width=300,src='img/fotos/2018-03-03_IMG-20180303-WA0010.jpg') 
  p 2018-03-03_IMG-20180303-WA0011.jpg
  img.materialboxed(width=300,src='img/fotos/2018-03-03_IMG-20180303-WA0011.jpg') 
  p 2018-03-03_IMG-20180303-WA0012.jpg
  img.materialboxed(width=300,src='img/fotos/2018-03-03_IMG-20180303-WA0012.jpg') 
  script.
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.materialboxed');
      var options = {
      };
      var instances = M.Materialbox.init(elems, options);
    });
