extends componentes/layout.pug
block main
  h1 Recordações de 2007
  p 2007-08-26_DSC04131.jpg
  img.materialboxed(width=300,src='img/fotos/2007-08-26_DSC04131.jpg') 
  p 2007-08-26_DSC04134.jpg
  img.materialboxed(width=300,src='img/fotos/2007-08-26_DSC04134.jpg') 
  p 2007-09-29_DSC04135.jpg
  img.materialboxed(width=300,src='img/fotos/2007-09-29_DSC04135.jpg') 
  p 2007-09-29_DSC04144.jpg
  img.materialboxed(width=300,src='img/fotos/2007-09-29_DSC04144.jpg') 
  p 2007-09-29_DSC04145.jpg
  img.materialboxed(width=300,src='img/fotos/2007-09-29_DSC04145.jpg') 
  p 2007-09-29_DSC04146.jpg
  img.materialboxed(width=300,src='img/fotos/2007-09-29_DSC04146.jpg') 
  script.
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.materialboxed');
      var options = {
      };
      var instances = M.Materialbox.init(elems, options);
    });
