extends componentes/layout.pug

block main
  h1 Locais de atendimento

  h2 Sao Paulo 1
  - var local_de_atendimento = "sp_1"
  include componentes/lista_de_membros_por_local_de_atendimento

  h2 Sao Paulo 2
  - var local_de_atendimento = "sp_2"
  include componentes/lista_de_membros_por_local_de_atendimento

  h2 Belo Horizonte
  - var local_de_atendimento = "bh_1"
  include componentes/lista_de_membros_por_local_de_atendimento

  h2 Curitiba
  - var local_de_atendimento = "curitiba_1"
  include componentes/lista_de_membros_por_local_de_atendimento
