extends componentes/layout.pug

block main
  - var slug = "maria-da-conceicao-machado-silva-rosa"
  include componentes/detalhes_do_membro
  include:markdown-it(html) textos/maria-daconceicao-machado-silva-rosa.md
