extends componentes/layout.pug

block main
  h1 Membros do ITA

  h2 Integração Espiritual
  - var grupo = "psicoespiritual"
  include componentes/lista_de_membros

  h2 Atendimento psicoterapêutico
  - var grupo = "psicoterapêutico"
  include componentes/lista_de_membros

  h2 Atendimento psicanalítico
  - var grupo = "psicanalítico"
  include componentes/lista_de_membros

  h2 Outras Atividades
  include componentes/lista_de_membros_inativos

  h2 Administrativo
  - var grupo = "administrativo"
  include componentes/lista_de_membros

