extends componentes/layout.pug

block main
  - var slug = "wojciech-mittelstaedt-adalberto"
  include componentes/detalhes_do_membro
  include:markdown-it(html) textos/wojciech-mittelstaedt-adalberto.md
