extends componentes/layout.pug

block main
  +bannerServico("cursos-e-assessorias-02.jpg")
  include:markdown-it(html) textos/cursos-e-assessorias.md
  include componentes/lista_de_cursos
  +botaoVoltarServicos
