extends componentes/layout.pug
block main
  h1 2010
  img.materialboxed(width=300,src='img/fotos/2010-01-15_ITA_em_C_do_Jordao_11.jpg') 
  script.
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.materialboxed');
      var options = {
      };
      var instances = M.Materialbox.init(elems, options);
    });
