extends componentes/layout.pug
block main
  h1 2004
  img.materialboxed(width=300,src='img/fotos/2004-01-02_SUC50175.jpg') 
  img.materialboxed(width=300,src='img/fotos/2004-01-02_SUC50176.jpg') 
  img.materialboxed(width=300,src='img/fotos/2004-01-14_DSC00214.jpg') 
  img.materialboxed(width=300,src='img/fotos/2004-01-15_DSC00217.jpg') 
  img.materialboxed(width=300,src='img/fotos/2004-01-19_DSC00238.jpg') 
  img.materialboxed(width=300,src='img/fotos/2004-01-21_DSC00240.jpg') 
  img.materialboxed(width=300,src='img/fotos/2004-01-21_DSC00243.jpg') 
  img.materialboxed(width=300,src='img/fotos/2004-03-12_DSC00275.jpg') 
  img.materialboxed(width=300,src='img/fotos/2004-06-15_DSC00341.jpg') 
  img.materialboxed(width=300,src='img/fotos/2004-06-15_DSC00344.jpg') 
  img.materialboxed(width=300,src='img/fotos/2004-10-09_DSC00584.jpg') 
  img.materialboxed(width=300,src='img/fotos/2004-10-09_DSC00585.jpg') 
  img.materialboxed(width=300,src='img/fotos/2004-10-09_DSC00590.jpg') 
  img.materialboxed(width=300,src='img/fotos/2004-10-09_DSC00591.jpg') 
  img.materialboxed(width=300,src='img/fotos/2004-10-09_DSC00592.jpg') 
  img.materialboxed(width=300,src='img/fotos/2004-10-09_DSC00593.jpg') 
  img.materialboxed(width=300,src='img/fotos/2004-10-09_DSC00595.jpg') 
  img.materialboxed(width=300,src='img/fotos/2004-10-15_DSC00598.jpg') 
  img.materialboxed(width=300,src='img/fotos/2004-10-15_DSC00601.jpg') 
  img.materialboxed(width=300,src='img/fotos/2004-10-16_DSC00602.jpg') 
  img.materialboxed(width=300,src='img/fotos/2004-10-16_DSC00603.jpg') 
  img.materialboxed(width=300,src='img/fotos/2004-10-16_DSC00604.jpg') 
  img.materialboxed(width=300,src='img/fotos/2004-10-16_DSC00605.jpg') 
  img.materialboxed(width=300,src='img/fotos/2004-10-16_DSC00607.jpg') 
  img.materialboxed(width=300,src='img/fotos/2004-10-16_DSC00608.jpg') 
  img.materialboxed(width=300,src='img/fotos/2004-10-16_DSC00609.jpg') 
  img.materialboxed(width=300,src='img/fotos/2004-10-16_DSC00610.jpg') 
  img.materialboxed(width=300,src='img/fotos/2004-10-16_DSC00612.jpg') 
  img.materialboxed(width=300,src='img/fotos/2004-10-16_DSC00613.jpg') 
  img.materialboxed(width=300,src='img/fotos/2004-10-17_DSC00619.jpg') 
  img.materialboxed(width=300,src='img/fotos/2004-10-17_DSC00620.jpg') 
  img.materialboxed(width=300,src='img/fotos/2004-12-22_DSC00693.jpg') 
  script.
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.materialboxed');
      var options = {
      };
      var instances = M.Materialbox.init(elems, options);
    });
