extends componentes/layout.pug

block main
  +bannerServico("supervisao-e-grupos-de-estudo-para-psicologos-01.jpg")
  include:markdown-it(html) textos/supervisao-e-grupos-de-estudo-para-psicologos.md
  +botaoVoltarServicos
